{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'email/skeleton.html' %}
{% block content %}
<p>Hello,</p>
<p>Please confirm your email address by loading the following page:<br>
<a href="{{ url_for('confirm_email', code=code, _external=True) }}">{{ url_for('confirm_email', code=code, _external=True) }}</a></p>
<p>Thanks!</p>
<p>Regards,<br>
The <i>{{ config.SHOP_NAME }}</i> team</p>
{%- endblock %}
