{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "shop/producticon/skeleton.html" %}

{% block price %}
{{ product.get_price_per_item().quantize('0.01').net }} {{ config.CURRENCY }}
{% endblock %}

{% block button %}
{%- if product.get_stock() - cart.quantity(product) > 0 %}
<form method="POST" action="{{ url_for('add_to_cart') }}">
    <input type="hidden" name="product" value="{{ product.id }}">
    <input type="hidden" name="quantity" value="1">
    <button class="btn btn-success btn-block">{{ _('Add to cart') }}</button>
</form>
{%- elif product.on_demand %}
<form method="POST" action="{{ url_for('add_to_cart') }}">
    <input type="hidden" name="product" value="{{ product.id }}">
    <input type="hidden" name="quantity" value="1">
    <button class="btn btn-info btn-block">{{ _('Add to cart') }}</button>
    <p class="text-center bottom-no-space">{{ _('Available on demand, delay %(min)d-%(max)d days', min=config.ON_DEMAND_DELAY_MIN, max=config.ON_DEMAND_DELAY_MAX) }}</p>
</form>
{%- else %}
<button class="btn btn-danger btn-block disabled">{{ _('Out of stock') }}</button>
{%- endif %}
{% endblock %}
