{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<div class="col-xs-6 col-md-4 col-lg-3">
    <div class="thumbnail product-in-category">
        <a href="/{{ product.url }}">
            {%- if product.photos %}
            <img src="{{ product.photos[0].preview_url }}">
            {%- endif %}
            <div class="caption">
                <p class="text-center">{{ product }}</p>
                <p class="text-center">{% block price %}{% endblock %}</p>
                {% block button %}{% endblock %}
            </div>
        </a>
    </div>
</div>
