{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'email/skeleton.html' %}
{% block content %}
<p>Bonjour,</p>

<p>Votre commande {{ order.full_number }} a été expédiée&nbsp;!</p>

{%- if order.tracking_number -%}
<p>Vous pouvez suivre votre livraison à l'adresse suivante&nbsp;:<br>
<a href="{{ order.tracking_url }}">{{ order.tracking_url }}</a>
</p>
{%- endif -%}

<p>Retrouvez votre commande sur notre site web&nbsp;:<br>
<a href="{{ url_for('order', order_number=order.number, _external=True) }}">{{ url_for('order', order_number=order.number, _external=True) }}</a>
</p>

<p>Cordialement,<br>
L'équipe <i>{{ config.SHOP_NAME }}</i></p>
{% endblock %}
