{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}
{% block title %}{{ _('Dashboard') }} - {{ _('Product') }}{% endblock %}

{% block content %}
<h1>
    {%- if product.slug %}
    {{ product.slug }}
    <a href="/{{ product.url }}" class="btn btn-primary btn-sm" target="_blank">
        <i class="fa fa-search"></i>
        {{ _('see in the shop') }}
    </a>
    {%- else %}
    {{ _('New product') }}
    {%- endif %}
</h1>

<form method="POST" action>
    {{ form.hidden_tag() }}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    {{ forminput(form.slug) }}
                </div>
                <div class="col-md-3 col-xs-6">
                    {{ forminput(form.reference) }}
                </div>
                <div class="col-md-3 col-xs-6">
                    {{ forminput(form.category) }}
                </div>
                <div class="col-md-3 col-xs-6">
                    {{ forminput(form.documentation) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            {{ forminput(form.keywords) }}
                            {{ forminput(form.tax) }}
                        </div>
                        <div class="col-md-6">
                            {{ forminput(form.on_sale) }}
                            {{ forminput(form.on_demand) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ forminput(form.related_products) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ _('Translations') }}</div>
        <div class="panel-body">
            {%- for l in config.LANGS %}
            <div class="col-sm-6">
                {{ forminput(form.name.entries[l]) }}
                {{ forminput(form.description.entries[l]) }}
            </div>
            {%- endfor %}
        </div>
    </div>
{%- block specific %}
{%- endblock %}
    <div class="form-group text-right">
        <div class="btn-group">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
                {{ _('Save') }}
            </button>
            <a href="{{ url_for('dashboard_products') }}" class="btn btn-danger">
                <i class="fa fa-undo"></i>
                {{ _('Cancel') }}
            </a>
        </div>
    </div>
</form>
{%- if product.id %}
<div id="pictures" class="panel panel-default">
    <div class="panel-heading">{{ _('Pictures') }}</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                {%- for photo in product.photos %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="thumbnail">
                        <img src="{{ photo.preview_url }}">
                        <div class="caption">
                            <a class="btn btn-danger center-block"
                               href="{{ url_for('dashboard_remove_product_photo', product_id=product.id, filename=photo.filename) }}">
                                <i class="fa fa-trash"></i>
                                {{ _('Remove') }}
                            </a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <hr>
            <form class="form-inline" method="POST" action="{{ url_for('dashboard_add_product_photo', product_id=product.id) }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="sr-only" for="photo[]">Pictures</label>
                    <input type="file" name="photo[]" multiple="multiple">
                </div>
                <button type="submit" class="btn btn-success">
                    {{ _('Upload') }}
                </button>
            </form>
        </div>
    </div>
</div>
{%- endif %}
{%- endblock %}
