{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('Addresses') }}{% endblock %}
{%- block content %}
<h1>{{ _('Configure your addresses') }}</h1>
<div class="row">
    {%- for aid, form in allforms %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ forminput(form.title) }}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ forminput(form.firstname) }}
                        </div>
                        <div class="col-xs-6">
                            {{ forminput(form.lastname) }}
                        </div>
                    </div>
                    {{ forminput(form.address) }}
                    {{ forminput(form.country) }}
                    {{ forminput(form.phone) }}
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="submit" name="ok" class="btn btn-success">
                                <i class="fa fa-check"></i>
                                {{ _('Change') }}
                            </button>
                        </div>
                        <a href="{{ url_for('remove_address', address_id=aid) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            {{ _('Remove') }}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {%- endfor %}
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-home"></i>
                {{ _('New address') }}
            </div>
            <div class="panel-body">
                <form method="POST">
                    {{ newform.hidden_tag() }}
                    {{ forminput(newform.title) }}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ forminput(newform.firstname) }}
                        </div>
                        <div class="col-xs-6">
                            {{ forminput(newform.lastname) }}
                        </div>
                    </div>
                    {{ forminput(newform.address) }}
                    {{ forminput(newform.country) }}
                    {{ forminput(newform.phone) }}
                    {{ formsubmit(_('Create'), 'plus') }}
                </form>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
