{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}


{% block title %}{{ _('Change your email or password') }}{% endblock %}
{% block content %}
<h1>{{ _('Change your email or password') }}</h1>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST" action>
                    {{ form.hidden_tag() }}
                    {{ forminput(form.email) }}
                    {{ forminput(form.password) }}
                    {{ forminput(form.password_again) }}
                    {{ formsubmit(_('Change my profile'), 'check') }}
                </form>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
