{% extends "skeleton.html" %}

{% block title %}{{ _('Email address verification failed') }}{% endblock %}
{% block content %}
<h1>{{ _('Email address verification failed') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _('Sorry, your email address has not been verified, the code you have provided is wrong.') }}</p>
        <div class="btn-group">
            <a href="{{ url_for('resend_confirmation_email') }}" class="btn btn-primary">
                {{ _('Send a new confirmation email') }}
            </a>
            <a href="{{ url_for('home') }}" class="btn btn-success">
                {{ _('Return to the home page') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
