{% extends "lowlevel_skeleton.html" %}

{% block title %}{{ _('Login') }}{% endblock %}
{% block body %}
<div class="panel panel-default" id="loginpanel">
    <div class="panel-heading">
        <h1 class="panel-title">{{ _('%(shopname)s Login', shopname=config.SHOP_NAME) }}</h1>
    </div>
    <div class="panel-body">
        <p class="lead text-center"><a href="{{ url_for('register', next=request.args.next) }}">{{ _("Don't have an account yet? Register now!") }}</a></p>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ forminput(form.email) }}
            {{ forminput(form.password) }}
            {{ formsubmit(_('Sign in'), 'sign-in') }}
        </form>
    </div>
</div>
{% endblock %}
