{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "lowlevel_skeleton.html" %}

{% block title %}{{ _('Login') }}{% endblock %}
{% block body %}
<div class="panel panel-default" id="loginpanel">
    <div class="panel-heading">
        <h1 class="panel-title">{{ _('%(shopname)s Login', shopname=config.SHOP_NAME) }}</h1>
    </div>
    <div class="panel-body">
        <p class="lead text-center"><a href="{{ url_for('register', next=request.args.next) }}">{{ _("Don't have an account yet? Register now!") }}</a></p>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ forminput(form.email) }}
            {{ forminput(form.password) }}
            {{ formsubmit(_('Sign in'), 'sign-in') }}
        </form>
    </div>
</div>
{%- endblock %}
