{% extends "skeleton.html" %}


{% block title %}{{ _('Orders') }}{% endblock %}
{% block content %}
<h1>{{ _('Your orders') }}</h1>
<div class="list-group">
    {%- for o in current_user.orders %}
    <a href="{{ url_for('order', order_number=o.number) }}" class="list-group-item">
        {%- if o.invoice_number %}
        {{ o.full_invoice_number }},
        {{ o.formated_invoice_date }}
        {%- else %}
        {{ o.full_number }},
        {{ o.formated_date }}
        {%- endif %},
        {{ ngettext('%(num)d product', '%(num)d products', o.quantity) }},
        <b>{{ o.net_total }}</b>,
        {{ o.human_status|safe }}
        {%- if o.tracking_number %}
        ({{ _('tracking available') }})
        {%- endif %}
    </a>
    {%- else -%}
    <div class="list-group-item">
        <p>{{ _('You have not made any order yet!') }}</p>
    </div>
    {%- endfor %}
</div>
{% endblock %}
