{% extends "lowlevel_skeleton.html" %}

{% block title %}{{ _('Register') }}{% endblock %}
{% block body %}
<div class="panel panel-default" id="loginpanel">
    <div class="panel-heading">
        <h1 class="panel-title">{{ _('Create an account') }}</h1>
    </div>
    <div class="panel-body">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ forminput(form.email) }}
            <div class="row">
                <div class="col-sm-6">
                    {{ forminput(form.password) }}
                </div>
                <div class="col-sm-6">
                    {{ forminput(form.password_again) }}
                </div>
            </div>
            {{ formsubmit(_('Sign up'), 'user-plus') }}
        </form>
    </div>
</div>
{% endblock %}
