{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% import "macros/form.html" as f %}

<h1>{{ _('Configure your addresses') }}</h1>
<form novalidate name="form" ng-submit="send()">
<div class="row">
    <div class="col-sm-6" ng-class="{'col-sm-offset-3':is_last_odd($index)}" ng-repeat="address in addresses">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ f.input_text(_('Address title'), 'address_t_[[ $index ]]', 'address.title', 'required', _('Title is mandatory')) }}
                <div class="row">
                    <div class="col-xs-6">
                        {{ f.input_text(_('First name'), 'address_f_[[ $index ]]', 'address.firstname') }}
                    </div>
                    <div class="col-xs-6">
                        {{ f.input_text(_('Last name'), 'address_l_[[ $index ]]', 'address.lastname', 'required', _('Last name is mandatory')) }}
                    </div>
                </div>
                {{ f.textarea(_('Address'), 'address_a_[[ $index ]]', 'address.address', 'required', _('Address is mandatory'), small=True) }}
                {{ f.select(_('Country'), 'address_c_[[ $index ]]', 'address.country', 'country.code as prefixed(country) for country in countries.get()', 'required', _('Country is mandatory')) }}
                {{ f.input_text(_('Phone'), 'address_p_[[ $index ]]', 'address.phone') }}
                <button type="button" class="btn btn-danger pull-right" ng-click="addresses.splice($index, 1)">
                    <i class="fa fa-trash"></i>
                    {{ _('Remove') }}
                </button>
            </div>
        </div>
    </div>
    <div class="text-center col-xs-12">
        <button type="button" class="btn btn-primary" ng-click="addresses.push({new:true, title:'{{ _('My address') }}'})">
            <i class="fa fa-plus"></i>
            {{ _('Add an address') }}
        </button>
        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
            <i class="fa fa-check"></i>
            {{ _('Save all modifications') }}
        </button>
    </div>
</div>
</form>
