{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('My Cart') }}{% endblock %}
{% block content %}
<h1>{{ _('My Cart') }}</h1>
{%- if cart %}
<form method="POST">
    <div class="list-group">
        {%- for line in cart %}
        <div class="list-group-item cart-list">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-6 col-lg-7">
                    <a href="{{ line.product.url }}" class="hidden-xs hidden-sm pull-left">
                        {%- if line.product.photos %}
                        <img class="cart-illustration" src="{{ line.product.photos[0].thumbnail_url }}">
                        {%- else -%}
                        <span class="cart-illustration-placeholder">
                            <i class="fa fa-ban"></i>
                        </span>
                        {%- endif %}
                    </a>
                        <a href="{{ line.product.url }}">
                            {{ line.get_full_name() }}
                        </a>
                        {%- if line.stock_status == 'on_demand' and line.get_stock() > 0%}
                        <br>
                        ({{ _('for an immediate shipping, buy %(num)d or less', num=line.get_stock()) }})
                        {%- endif %}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <input type="text" id="quantity_{{ line.product.id }}" name="quantity_{{ line.product.id }}" class="form-control text-center cart-quantity" value="{{ line.quantity }}">
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" id="dec_{{ line.product.id }}">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="{{ url_for('remove_from_cart', product_id=line.product.id) }}" class="btn btn-default">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="#" class="btn btn-default" id="inc_{{ line.product.id }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 text-right">
                    {{ line.stock_message|safe }}
                    <br>
                    {{ _('Unit:') }} {{ line.get_price_per_item().quantize('0.01').net }} {{ config.CURRENCY }}
                    <br>
                    <strong>
                        {{ _('Total:') }} {{ line.get_total().quantize('0.01').net }} {{ config.CURRENCY }}
                    </strong>
                </div>
             </div>
        </div>
        {%- endfor %}
        {%- if cart.must_recalc %}
        <div class="list-group-item">
            <div class="text-right">
                {{ cart.stock_message|safe }}
                <br>
                <button type="submit" class="btn btn-warning">
                    {{ _('Recalculate') }}
                </button>
            </div>
        </div>
        {%- else %}
        <div class="list-group-item">
            <div class="text-right">
                <div id="recalculate" class="hidden">
                    <button type="submit" class="btn btn-warning">
                        {{ _('Recalculate') }}
                    </button>
                </div>
                <div id="total">
                    {{ cart.stock_message|safe }}
                    <br>
                    <strong>
                        {{ _('Total:') }} {{ cart.get_total().quantize('0.01').net }} {{ config.CURRENCY }}
                    </strong>
                    <br>
                    {{ _('+ shipping fee') }}
                </div>
            </div>
            <small class="push-left">
                {{ _('The price and availability of these products may change. The cart is a temporary list which does not mean the products are reserved.') }}
                <br>
                {{ _('TVA non applicable, article 293 B du Code général des impôts') }}
            </small>
        </div>
        <div id="proceed">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    {% if saved_cart %}
                    <a href="{{ url_for('saved_cart', cart_id=saved_cart.id) }}" class="btn btn-primary">
                            <i class="fa fa-check"></i>
                            {{ _('Cart has been saved (%(name)s)', name=saved_cart.name) }}
                        </a>
                        <a href="{{ url_for('empty_cart') }}" class="btn btn-warning">
                            <i class="fa fa-trash"></i>
                            {{ _('Empty cart') }}
                        </a>
                    {% else %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="cartname" placeholder="{{ _('Cart name') }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" name="save">
                                <i class="fa fa-bookmark"></i>
                                {{ _('Save cart') }}
                            </button>
                            <a href="{{ url_for('empty_cart') }}" class="btn btn-warning">
                                <i class="fa fa-trash"></i>
                                {{ _('Empty cart') }}
                            </a>
                        </span>
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <a href="{{ url_for('checkout') }}" class="btn btn-lg btn-success pull-right">
                        {{ _('Proceed to checkout') }}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {%- endif %}
    </div>
</form>
<div id="stock-overlay" class="hidden" onclick="this.className='hidden';">
    <div class="overlay">
    </div>
    <div class="alert alert-danger overlay-content">
        <i class="fa fa-exclamation-triangle"></i>
        <span class="sr-only">Warning:</span>
        {{ _('Sorry, insufficient stock.') }}
    </div>
</div>
<script>
    {%- if not cart.must_recalc %}
    function disp_recalc() {
        document.getElementById('recalculate').className = "";
        document.getElementById('total').className = "hidden";
        document.getElementById('proceed').className = "hidden";
    }
    {%- endif %}
    {% for line in cart %}
    document.getElementById('inc_{{ line.product.id }}').addEventListener('click', function(e) {
        e.preventDefault();
        var orig = parseInt(document.getElementById('quantity_{{ line.product.id }}').value);
        {%- if line.product.on_demand %}
        document.getElementById('quantity_{{ line.product.id }}').value = orig + 1;
        {%- if not cart.must_recalc %}
        disp_recalc();
        {%- endif %}
        {%- else %}
        if (orig < {{ line.get_stock() }}) {
            document.getElementById('quantity_{{ line.product.id }}').value = orig + 1;
            {%- if not cart.must_recalc %}
            disp_recalc();
            {%- endif %}
        } else {
            document.getElementById('stock-overlay').className = "";
        }
        {%- endif %}
    });
    document.getElementById('dec_{{ line.product.id }}').addEventListener('click', function(e) {
        e.preventDefault();
        var orig = parseInt(document.getElementById('quantity_{{ line.product.id }}').value);
        if (orig > 0) {
            document.getElementById('quantity_{{ line.product.id }}').value = orig - 1;
            {%- if not cart.must_recalc %}
            disp_recalc();
            {%- endif %}
        };
    });
    {% endfor %}
    [].forEach.call(document.getElementsByClassName('cart-quantity'), function(elem) {
        elem.addEventListener('keyup', disp_recalc);
    });
</script>
{%- else %}
<div class="alert alert-danger text-center">{{ _('Your cart is empty!') }}</div>
{%- endif %}
{%- endblock %}

