{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Checkout') }}</h1>
<form id="checkout-form" name="form" ng-submit="confirm()" novalidate>
    <div ng-show="cart.count()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-cube"></i>
                        {{ _('Product') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Qty') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Unit') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Total') }}
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="line in cart.list()">
                    <div class="row">
                        <div class="col-sm-6">
                            [[ line.product.name ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ line.quantity ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ line.product.net_price | currency:"{{ config.CURRENCY }}" ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            <strong>
                                [[ line.product.net_price * line.quantity | currency:"{{ config.CURRENCY }}" ]]
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="list-group-item" ng-show="stock_changed">
                    <b class="text-danger">{{ _('Your cart has been modified because stock has changed for one or more products.') }}</b>
                </div>
                <div class="list-group-item" ng-show="cart.overstock()">
                    <b class="text-danger">{{ _('Your cart contains products tho be ordered on demand, shipping will be delayed') }}</b>
                </div>
                <div class="list-group-item">
                    {{ _('Shipping delay: [[ cart.delay() ]] days') }}
                </div>
            </div>
        </div>
        <div>
        <div ng-show="user.get().addresses.length">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                {{ _('Delivery address') }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <select class="form-control" name="delivery" ng-model="choice.delivery_address" ng-options="address.id as address.title for address in user.get().addresses" required></select>
                            </div>
                            <p>{{ _('The package will be shipped to:') }}</p>
                            <pre class="well" ng-bind="full_address(choice.delivery_address)"></pre>
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                <button type="button" class="btn btn-info" ng-disabled="!choice.delivery_address" ng-click="modify_address(choice.delivery_address)">
                                    <i class="fa fa-pencil"></i>
                                    {{ _('Modify') }}
                                </button>
                                </div>
                                <div class="btn-group">
                                <button type="button" class="btn btn-warning" ng-click="add_address()">
                                    <i class="fa fa-plus"></i>
                                    {{ _('New address') }}
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                {{ _('Billing address') }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block" ng-model="choice.delivery_as_billing" uib-btn-checkbox>
                                    <i class="fa fa-check" ng-show="choice.delivery_as_billing"></i>
                                    <i class="fa fa-times" ng-hide="choice.delivery_as_billing"></i>
                                    {{ _('Use the delivery address') }}
                                </button>
                            </div>
                            <div ng-hide="choice.delivery_as_billing">
                                <div class="form-group">
                                    <select class="form-control" name="billing" ng-model="choice.billing_address" ng-options="address.id as address.title for address in user.get().addresses"></select>
                                </div>
                                <pre class="well" ng-bind="full_address(choice.billing_address)"></pre>
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-info" ng-disabled="!choice.billing_address" ng-click="modify_address(choice.billing_address)">
                                        <i class="fa fa-pencil"></i>
                                        {{ _('Modify') }}
                                    </button>
                                    </div>
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-warning" ng-click="add_address()">
                                        <i class="fa fa-plus"></i>
                                        {{ _('New address') }}
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-truck"></i>
                        {{ _('Shipping') }}
                    </h2>
                </div>
                <div class="list-group">
                    <label class="list-group-item" ng-repeat="available_carrier in get_available_carriers()">
                        <div class="row">
                            <div class="col-xs-8">
                                <input type="radio" ng-model="choice.carrier" ng-value="available_carrier.carrier.id">
                                [[ available_carrier.carrier.description ]]
                                ([[ available_carrier.carrier.name ]])
                            </div>
                            <div class="col-xs-4 text-right">
                                <b>[[ available_carrier.cost | currency:"{{ config.CURRENCY }}" ]]</b>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-xs-8 col-md-9 text-right">
                        {{ _('Subtotal') }}
                    </div>
                    <div class="col-xs-4 col-md-3 text-right">
                        [[ cart_total | currency:"{{ config.CURRENCY }}" ]]
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-md-9 text-right">
                        {{ _('Shipping fee') }}
                    </div>
                    <div class="col-xs-4 col-md-3 text-right">
                        [[ get_shipping_fee() | currency:"{{ config.CURRENCY }}" ]]
                    </div>
                </div>
                <div class="row total-cost text-info">
                    <div class="col-xs-8 col-md-9 text-right">
                        {{ _('Total') }}
                    </div>
                    <div class="col-xs-4 col-md-3 text-right">
                        <b>[[ cart_total + get_shipping_fee() | currency:"{{ config.CURRENCY }}" ]]</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-money"></i>
                        {{_('Payment') }}
                    </h2>
                </div>
                <div class="list-group">
                    <label class="list-group-item" ng-repeat="mode in payments">
                        <input type="radio" ng-model="choice.payment" ng-value="mode.id">
                        <i class="fa fa-[[ mode.icon ]]"></i>
                        [[ mode.description ]]
                    </label>
                </div>
            </div>
            <textarea placeholder="{{ _('If you have any message for us about this order, write it here!') }}" ng-model="choice.message" class="form-control"></textarea>
            <div class="panel panel-default">
                <div class="panel-body text-right">
                    <label>
                        <i class="fa fa-recycle"></i>
                        {{ _('I accept that my order is shipped in a reused package') }}
                        <input type="checkbox" ng-model="choice.accept_reused_package">
                    </label><br>
                    <label>
                        <i class="fa fa-file-text-o"></i>
                        {{ _('I want to receive a paper invoice') }}
                        <input type="checkbox" ng-model="choice.paper_invoice">
                    </label><br>
                    <label>
                        <i class="fa fa-check"></i>
                        <b>{{ _('I agree to the %(terms)s and adhere to them unconditionally', terms='<a href="#" ng-click="open_terms()">'|safe+_('terms of purchase')+'</a>'|safe) }}</b>
                        <input type="checkbox" ng-model="choice.accept_terms">
                    </label>
                    <div ng-show="cart.overstock()">
                        <b class="text-danger">{{ _('I understand that the cart contains products to be ordered on demand and that shipping will be delayed for [[ cart.delay() ]]') }}</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger" ng-hide="user.get().addresses.length">
            <div class="panel-body">
                <p class="lead text-center">{{ _('You must define at least one address for delivery') }}</p>
                <button type="button" class="btn btn-lg btn-block btn-success" ng-click="add_address()">
                    <i class="fa fa-home"></i>
                    {{ _('Create an address') }}
                </button>
            </div>
        </div>
            <button type="submit" id="proceed" class="btn btn-lg btn-success pull-right" ng-disabled="!(choice.delivery_address && (choice.delivery_as_billing || choice.billing_address) && choice.payment && choice.accept_terms)">
            {{ _('Verify and confirm the order') }}
            <i class="fa fa-chevron-right"></i>
        </button>
        <small>{{ _('TVA non applicable, article 293 B du Code général des impôts') }}</small>
    </div>
    <div ng-hide="cart.count()" class="alert alert-danger text-center">
        {{ _('Your cart is empty!') }}
    </div>
</form>
