{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('Checkout') }}{% endblock %}
{% block content %}
<div ng-controller="CheckoutCtrl">
    <div ng-show="cart.lines" ng-cloak>
        <h1>{{ _('Checkout') }}</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-cube"></i>
                        {{ _('Product') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Qty') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Unit') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Total') }}
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="product in cart.lines">
                    <div class="row">
                        <div class="col-sm-6">
                            [[ product.name ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ product.quantity ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ product.price ]] {{ config.CURRENCY }}
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            <strong>
                                [[ product.total ]] {{ config.CURRENCY }}
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="list-group-item" ng-show="cart.modified">
                    <b class="text-danger">{{ _('Your cart has been modified because stock is insufficient for one or more products.') }}</b>
                </div>
                <div class="list-group-item" ng-show="cart.on_demand">
                    <b class="text-danger">{{ _('Your cart contains products to be ordered on demand. Shipping will be delayed for %(min)d-%(max)d days.', min=config.ON_DEMAND_DELAY_MIN, max=config.ON_DEMAND_DELAY_MAX) }}</b>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8 col-sm-10">
                            <b>
                            {{ _('Subtotal') }}
                            </b>
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            <b>
                                [[ cart.total ]] {{ config.CURRENCY }}
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="addresses">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                {{ _('Delivery address') }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <select class="form-control" name="delivery" ng-model="choices.delivery_address" ng-options="address as address.title for address in addresses" ng-change="update_carriers()"></select>
                            </div>
                            <p>{{ _('The package will be shipped to:') }}</p>
                            <pre class="well" ng-bind="choices.delivery_address.full_address"></pre>
                            <div class="btn-group btn-group-justified">
                                <a ng-href="/checkout/address-[[ choices.delivery_address.id ]]" class="btn btn-info">
                                    <i class="fa fa-pencil"></i>
                                    {{ _('Modify') }}
                                </a>
                                <a href="{{ url_for('address_from_checkout', address_destination='delivery') }}" class="btn btn-warning" onclick="sessionStorage.removeItem('delivery-address')">
                                    <i class="fa fa-plus"></i>
                                    {{ _('New address') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                {{ _('Billing address') }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block" ng-model="choices.delivery_as_billing" uib-btn-checkbox>
                                    <i class="fa fa-check" ng-show="choices.delivery_as_billing"></i>
                                    <i class="fa fa-times" ng-hide="choices.delivery_as_billing"></i>
                                    {{ _('Use the delivery address') }}
                                </button>
                            </div>
                            <div ng-hide="choices.delivery_as_billing">
                                <div class="form-group">
                                    <select class="form-control" name="billing" ng-model="choices.billing_address" ng-options="address as address.title for address in addresses"></select>
                                </div>
                                <pre class="well" ng-bind="choices.billing_address.full_address"></pre>
                                <div class="btn-group btn-group-justified">
                                    <a ng-href="/checkout/address-[[ choices.billing_address.id ]]" class="btn btn-info">
                                        <i class="fa fa-pencil"></i>
                                        {{ _('Modify') }}
                                    </a>
                                    <a href="{{ url_for('address_from_checkout', address_destination='billing') }}" class="btn btn-warning" onclick="sessionStorage.removeItem('billing-address')">
                                        <i class="fa fa-plus"></i>
                                        {{ _('New address') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="addresses">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-truck"></i>
                    {{ _('Shipping') }}
                </h2>
            </div>
            <div class="list-group" id="carriers-list">
                <label class="list-group-item" ng-repeat="carrier in carriers">
                    <div class="row">
                        <div class="col-xs-8">
                            <input type="radio" ng-model="choices.carrier" ng-value="carrier.id">
                            [[ carrier.name ]]
                        </div>
                        <div class="col-xs-4 text-right">
                            <b>[[ carrier.price ]] {{ config.CURRENCY }}</b>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="well" ng-show="addresses">
            <div class="row">
                <div class="col-xs-8 col-md-9 text-right">
                    {{ _('Subtotal') }}
                </div>
                <div class="col-xs-4 col-md-3 text-right">
                    [[ cart.total ]] {{ config.CURRENCY }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-9 text-right">
                    {{ _('Shipping fee') }}
                </div>
                <div class="col-xs-4 col-md-3 text-right">
                    [[ shipping_fee ]] {{ config.CURRENCY }}
                </div>
            </div>
            <div class="row total-cost text-info">
                <div class="col-xs-8 col-md-9 text-right">
                    {{ _('Total') }}
                </div>
                <div class="col-xs-4 col-md-3 text-right">
                    <b>[[ order_total ]] {{ config.CURRENCY }}</b>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="addresses">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-money"></i>
                    {{_('Payment') }}
                </h2>
            </div>
            <div class="list-group">
                {%- for mode in modes_of_payment %}
                <label class="list-group-item">
                    <input type="radio" ng-model="choices.payment" value="{{ mode.id }}">
                    {{ mode.text|safe }}
                </label>
                {% endfor %}
            </div>
        </div>
        <textarea placeholder="{{ _('If you have any message for us about this order, write it here!') }}" id="checkout-message" ng-model="choices.message" class="form-control"></textarea>

    
        <div class="panel panel-default">
            <div class="panel-body text-right">
                <label class="reused-package text-normal">
                    <i class="fa fa-recycle"></i>
                    {{ _('I accept that my order is shipped in a reused package') }}
                    <input type="checkbox" ng-model="choices.reused_package">
                </label>
                <label>
                    <i class="fa fa-check"></i>
                    <b>{{ _('I agree to the %(terms)s and adhere to them unconditionally', terms='<a href="'|safe+url_for('info', slug='terms_of_purchase')+'" target="_blank">'|safe+_('terms of purchase')+'</a>'|safe) }}</b>
                    <input type="checkbox" ng-model="choices.accept_terms">
                </label>
                <div ng-show="cart.on_demand">
                    <br>
                    <b class="text-danger">{{ _('I understand that the cart contains products to be ordered on demand and that shipping will be delayed for %(min)d-%(max)d days.', min=config.ON_DEMAND_DELAY_MIN, max=config.ON_DEMAND_DELAY_MAX) }}</b>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-hide="addresses">
            <div class="panel-body">
                <p class="lead text-center">{{ _('You must define at least one address for delivery') }}</p>
                <a href="{{ url_for('address_from_checkout', address_destination='delivery') }}" class="btn btn-lg btn-block btn-success">
                    <i class="fa fa-home"></i>
                    {{ _('Create an address') }}
                </a>
            </div>
        </div>
        {#-
            This form allows a 95% compatibility with the previous "old-way"
            form "receiver", which will be completely rewritten later.
        #}
        <form method="POST" action="{{ url_for('confirm_order') }}">
            <input type="hidden" name="delivery" value="[[ choices.delivery_address.id ]]">
            <input type="hidden" name="delivery_as_billing" value="[[ choices.delivery_as_billing ]]">
            <input type="hidden" name="billing" value="[[ choices.billing_address.id ]]">
            <input type="hidden" name="shipping" value="[[ choices.carrier ]]">
            <input type="hidden" name="payment" value="[[ choices.payment ]]">
            <input type="hidden" name="reused_package" value="[[ choices.reused_package ]]">
            <button type="submit" id="proceed" class="btn btn-lg btn-success pull-right" ng-disabled="!(choices.delivery_address && (choices.delivery_as_billing || choices.billing_address) && choices.payment && choices.accept_terms)">
            {{ _('Verify and confirm the order') }}
            <i class="fa fa-chevron-right"></i>
        </button>
        </form>
        <small>{{ _('TVA non applicable, article 293 B du Code général des impôts') }}</small>
    </div>
    <div ng-hide="cart.lines" class="alert alert-danger text-center" ng-cloak>
        {{ _('Your cart is empty!') }}
    </div>
</div>
{%- endblock %}

