{% extends "skeleton.html" %}

{% block title %}{{ _('Insufficient stock') }}{% endblock %}
{% block content %}
<h1>{{ _('Insufficient stock') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _('Sorry, insufficient stock.') }}</p>
        <p>
            {% if next -%}
            <a href="{{ next }}">{{ _('Go back') }}</a>
            &mdash;
            {%- endif %}
            <a href="/">{{ _('Back to the homepage') }}</a>
        </p>
    </div>
</div>
{% endblock %}

