{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Order [[ order.full_number ]], on [[ order.date | date ]]') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        {{ _('Order status:' ) }} <span class="text-[[ order.status_color ]]">[[ order.human_status ]]</span>
        <div ng-if="order.status == 'unconfirmed'">
            <b>{{ _('Cancelled if not confirmed within %(num)d days.', num=config.CONFIRM_DELAY) }}</b>
        </div>
        <div ng-if="order.status == 'awaiting_payment'">
            <b>{{ _('Cancelled if payment not received within %(num)d days.', num=config.PAYMENT_DELAY) }}</b>
        </div>
        <div ng-if="order.payment_date">
            {{ _('Payment received on [[ order.payment_date | date ]]') }}
        </div>
        <div ng-if="order.payment_message">
            {{ _('Message about the payment:') }} [[ order.payment_message ]]
        </div>
        <div ng-if="order.shipping_date">
            {{ _('Shipped on [[ order.shipping_date | date ]]') }}
        </div>
        <div ng-if="order.tracking_number">
            <b>
                {{ _('Tracking number:') }}
                <a ng-href="[[ order.tracking_url ]]" target="_blank">[[ order.tracking_number ]]</a>
            </b>
        </div>
        <div ng-if="['unconfirmed', 'awaiting_payment', 'payment_failed'].indexOf(order.status) != -1" class="text-right">
            <button class="btn btn-lg btn-success" ng-click="pay()">
                <span ng-if="order.status == 'unconfirmed'">{{ _('Confirm and proceed to payment') }}</span>
                <span ng-if="order.status == 'awaiting_payment' || order.status == 'payment_failed'">{{ _('Retry payment') }}</span>
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker"></i>
                {{ _('Delivery address') }}
            </div>
            <div class="panel-body" ng-bind-html="order.delivery | htmlbr"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-text-o"></i>
                {{ _('Billing address') }}
            </div>
            <div class="panel-body" ng-bind-html="order.billing | htmlbr"></div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <i class="fa fa-cube"></i>
                {{ _('Product') }}
            </div>
            <div class="col-xs-3 col-xs-offset-3 col-md-1 col-md-offset-0 text-right">
                {{ _('Qty') }}
            </div>
            <div class="col-xs-3 col-md-2 text-right">
                {{ _('Unit') }}
            </div>
            <div class="col-xs-3 col-md-2 text-right">
                {{ _('Total') }}
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="product in order.products">
            <div class="row">
                <div class="col-xs-4 col-md-3 col-lg-3">
                    [[ product.reference ]]
                </div>
                <div class="col-xs-8 col-md-4 col-lg-4">
                    [[ product.name ]]
                </div>
                <div class="col-xs-3 col-xs-offset-3 col-md-1 col-md-offset-0 text-right">
                    [[ product.quantity ]]
                </div>
                <div class="col-xs-3 col-md-2 text-right">
                    [[ product.net_price ]]
                </div>
                <div class="col-xs-3 col-md-2 text-right">
                    [[ product.line_net_price ]]
                </div>
             </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-8">
                    <b>{{ _('Subtotal') }}</b>
                </div>
                <div class="col-xs-4 text-right">
                    <b>[[ order.net_subtotal ]]</b>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    {{ _('Shipping fee') }}
                </div>
                <div class="col-xs-5 col-sm-6 text-right">
                    [[ order.carrier_description ]]
                </div>
                <div class="col-xs-3 col-sm-2 text-right">
                    [[ order.net_shipping ]]
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row text-info total-cost">
                <div class="col-xs-7">
                    <b>{{ _('Total') }}</b>
                </div>
                <div class="col-xs-5 text-right">
                    <b>[[ order.net_total ]]</b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <ul>
            <li ng-if="order.on_demand">
                {{ _('This order includes on demand products, shipping is delayed for [[ order.on_demand_delay_min ]]-[[ order.on_demand_delay_max ]] days') }}
            </li>
            <li>{{ _('Payment:') }} <i class="fa fa-[[ order.payment_icon ]]" ng-if="order.payment_icon"></i> [[ order.payment_description ]]</li>
            <li ng-if="order.accept_reused_package">
                <i class="fa fa-recycle"></i>
                {{_('I accept that my order is shipped in a reused package') }}
            </li>
            <li ng-if="order.paper_invoice">
                <i class="fa fa-file-text-o"></i>
                {{_('I want a paper invoice') }}
            </li>
        </ul>
    </div>
</div>
<small>{{ _('TVA non applicable, article 293 B du Code général des impôts') }}</small>
<button class="btn btn-lg btn-success pull-right" ng-show="order.status == 'unconfirmed'" ng-click="pay()">
     {{ _('Confirm and proceed to payment') }}
    <i class="fa fa-chevron-right"></i>
</button>
<a ng-href="/pdf/invoice/[[ order.invoice_number ]]" class="btn btn-lg btn-primary pull-right" ng-hide="order.status == 'unconfirmed'" target="_blank">
    <i class="fa fa-file-text-o"></i>
    {{ _('Invoice [[ order.invoice_full_number ]], on [[ order.invoice_date | date ]]') }}
</a>
