{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{% if order.invoice_number %}{{ _('Invoice') }}{% else %}{{ _('Order') }}{% endif %}{% endblock %}
{% block content %}
{%- if order.invoice_number %}
<h1>{{ _('Invoice #%(num)s, on %(date)s', num=order.full_invoice_number, date=order.formated_invoice_date) }}</h1>
<p>{{ _('Order #%(num)s, on %(date)s', num=order.full_number, date=order.formated_date) }}</p>
{%- else %}
<h1>{{ _('Order #%(num)s, on %(date)s', num=order.full_number, date=order.formated_date) }}</h1>
{%- endif %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ _('Order status:' ) }} {{ order.human_status|safe }}
        {%- if order.status == 'unconfirmed' %}
        <br><b>{{ _('Cancelled if not paid within %(num)d days.', num=config.CONFIRM_DELAY) }}</b>
        {%- elif order.status == 'awaiting_payment' %}
        <br><b>{{ _('Cancelled if payment not received within %(num)d days.', num=config.PAYMENT_DELAY) }}</b>
        {%- endif %}
        {%- if order.payment_date %}
        <br>{{ _('Payment received on %(date)s', date=order.formated_payment_date) }}
        {%- endif %}
        {%- if order.tracking_number %}
        <br>
        <b>
            {{ _('Tracking number:') }}
            <a href="{{ order.tracking_url }}" target="_blank">{{ order.tracking_number }}</a>
        </b>
        {%- endif %}
        {%- if order.status == 'unconfirmed' %}
        <div class="text-right">
            <a href="{{ url_for('pay_order', order_number=order.number) }}" class="btn btn-lg btn-success">
                {{ _('Proceed to payment') }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        {%- elif order.status == 'awaiting_payment' %}
        <div class="text-right">
            <a href="{{ url_for('pay_order', order_number=order.number) }}" class="btn btn-lg btn-success btn-wrap">
                {{ order.replay_payment_button_text }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        {%- elif order.status == 'payment_failed' %}
        <div class="text-right">
            <a href="{{ url_for('pay_order', order_number=order.number) }}" class="btn btn-lg btn-success">
                {{ _('Retry payment') }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        {%- endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker"></i>
                {{ _('Delivery address') }}
            </div>
            <div class="panel-body">{{ order.delivery|replace('\r\n', '<br>'|safe)|replace('\n', '<br>'|safe) }}</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-text-o"></i>
                {{ _('Billing address') }}
            </div>
            <div class="panel-body">{{ order.billing|replace('\r\n', '<br>'|safe)|replace('\n', '<br>'|safe) }}</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 col-print-6">
                <i class="fa fa-cube"></i>
                {{ _('Product') }}
            </div>
            <div class="col-xs-4 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-0 col-print-2 col-print-offset-0 text-right">
                {{ _('Qty') }}
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-print-2 text-right">
                {{ _('Unit') }}
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-print-2 text-right">
                {{ _('Total') }}
            </div>
        </div>
    </div>
    <div class="list-group">
        {% for product in order.products %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-4 col-md-2 col-print-2">
                    {{ product.reference }}
                </div>
                <div class="col-xs-8 col-md-4 col-print-4">
                    {{ product.name }}
                </div>
                <div class="col-xs-4 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-0 col-print-2 col-print-offset-0 text-right">
                    {{ product.quantity }}
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2 col-print-2 text-right">
                    {{ product.net_price }}
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2 col-print-2 text-right">
                    {{ product.line_net_price }}
                </div>
             </div>
        </div>
        {% endfor %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-8">
                    <b>{{ _('Subtotal') }}</b>
                </div>
                <div class="col-xs-4 text-right">
                    <b>{{ order.net_subtotal }}</b>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    {{ _('Shipping fee') }}
                </div>
                <div class="col-xs-5 col-sm-6 text-right">
                    {{ order.carrier_description }}
                </div>
                <div class="col-xs-3 col-sm-2 text-right">
                    {{ order.net_shipping }}
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row text-info total-cost">
                <div class="col-xs-8">
                    <b>{{ _('Total') }}</b>
                </div>
                <div class="col-xs-4 text-right">
                    <b>{{ order.net_total }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <ul>
            <li>{{_('Payment:') }} {{ order.payment_description|safe }}</li>
            {%- if order.accept_reused_package %}
            <li>
                <i class="fa fa-recycle"></i>
                {{_('I accept that my order is shipped in a reused package') }}
            </li>
            {%- endif %}
        </ul>
    </div>
</div>
<small>{{ _('TVA non applicable, article 293 B du Code général des impôts') }}</small>
{%- if order.status == 'unconfirmed' %}
<a href="{{ url_for('pay_order', order_number=order.number) }}" class="btn btn-lg btn-success pull-right">
    {{ _('Proceed to payment') }}
    <i class="fa fa-chevron-right"></i>
</a>
{%- else -%}
<button class="btn btn-lg btn-primary pull-right hidden-print" onclick="window.print()">
    <i class="fa fa-print"></i>
    {{ _('Print') }}
</a>
{%- endif %}
{% endblock %}
