{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('Insufficient stock') }}{% endblock %}
{% block content %}
<h1>{{ _('Insufficient stock') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _('Sorry, we do not have enough stock for the following products:') }}</p>
        <ul>
            {%- for p in products %}
            <li>
                <a href="{{ p.url }}">{{ p }}</a>
            </li>
            {%- endfor %}
        </ul>
        <p>{{ _('Maybe another customer has confirmed his/her order before yours.') }}</p>
        <p>{{ _('Quantities in your cart have been reduced.') }}</p>
        <a href="{{ url_for('checkout') }}" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
            {{ _('Go back to the checkout page') }}
        </a>
    </div>
</div>
{% endblock %}

