{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('Search results') }}{% endblock %}
{% block content %}
<h1>{{ _('Search results for "%(terms)s"', terms=terms) }}</h1>
{% if products_result -%}
<h2>{{ _('Products') }}</h2>
<div class="row">
    {{ products_grid(products_result) }}
</div>
{%- endif %}
{% if categories_result -%}
<h2>{{ _('Categories') }}</h2>
<ul>
    {% for category in categories_result -%}
    <li><a href="/{{ category.url }}">{{ category }}</a></li>
    {%- endfor %}
</ul>
{% endif %}
{% if docs_result %}
<h2>{{ _('Documentation') }}</h2>
<ul>
    {% for d in docs_result %}
    <li><a href="{{ url_for('doc', slug=d.slug) }}">{{ d }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if not products_result and not categories_result and not docs_result %}
<p>{{ _('Sorry, there are no results for this search...') }}</p>
{% endif %}
</div>
{% endblock %}

