{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Search results for "[[ terms ]]"') }}</h1>
<div ng-show="result.categories.length">
    <h2>{{ _('Categories') }}</h2>
    <ul>
        <li ng-repeat="category in result.categories">
            <a ui-sref="category_or_product({path:category.path})">
                [[ category.full_name ]]
            </a>
        </li>
    </ul>
</div>
<div ng-show="result.docs.length">
    <h2>{{ _('Documentation') }}</h2>
    <ul>
        <li ng-repeat="doc in result.docs">
            <a ui-sref="doc({slug:doc.slug})">[[ doc.title ]]</a>
        </li>
    </ul>
</div>
<div ng-show="result.products.length">
    <h2>{{ _('Products') }}</h2>
    <products-list products="result.products"></products-list>
</div>
<p ng-hide="result.products.length || result.categories.length || result.docs.length">
{{ _('Sorry, there are no results for this search...') }}
</p>
