{#-
Copyright 2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% import "macros/form.html" as f %}
<form name="form" novalidate ng-submit="change_password()">
<div class="modal-header">
    <h3 class="modal-title">{{ _('Change the password') }}</h3>
</div>
<div class="modal-body">
    {{ f.input_password(_('Password'), 'password', 'password', 'required', _('Password is required')) }}
    {{ f.input_password(_('Password (again)'), 'password_again', 'password_confirm', 'match="password"', _('Passwords must match')) }}
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
        <i class="fa fa-check"></i>
        {{ _('Change the password') }}
    </button>
</div>
</form>
