{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}

{%- macro input_email(label, name, ngmodel, options, errormessage, suffix) %}
<div class="form-group" ng-class="{ 'has-error': form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    {%- if suffix %}
    <div class="input-group">
    {%- endif %}
    <input type="email" id="{{ name }}" name="{{ name }}" class="form-control" ng-model="{{ ngmodel }}" {{ options }}>
    {%- if suffix %}
    {%- if suffix[0] != '<' %}<span class="input-group-addon">{% endif %}
    {{ suffix }}
    {%- if suffix[0] != '<' %}</span>{% endif %}
    </div>
    {%- endif %}
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro input_password(label, name, ngmodel, options, errormessage, suffix) %}
<div class="form-group" ng-class="{ 'has-error': form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    {%- if suffix %}
    <div class="input-group">
    {%- endif %}
    <input type="password" id="{{ name }}" name="{{ name }}" class="form-control" ng-model="{{ ngmodel }}" {{ options }}>
    {%- if suffix %}
    {%- if suffix[0] != '<' %}<span class="input-group-addon">{% endif %}
    {{ suffix }}
    {%- if suffix[0] != '<' %}</span>{% endif %}
    </div>
    {%- endif %}
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro input_text(label, name, ngmodel, options, errormessage, suffix) %}
<div class="form-group" ng-class="{ 'has-error': form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    {%- if suffix %}
    <div class="input-group">
    {%- endif %}
    <input type="text" id="{{ name }}" name="{{ name }}" class="form-control" ng-model="{{ ngmodel }}" {{ options }}>
    {%- if suffix %}
    {%- if suffix[0] != '<' %}<span class="input-group-addon">{% endif %}
    {{ suffix }}
    {%- if suffix[0] != '<' %}</span>{% endif %}
    </div>
    {%- endif %}
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro textarea(label, name, ngmodel, options, errormessage, small=False) %}
<div class="form-group" ng-class="{ 'has-error' : form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    <textarea id="{{ name }}" name="{{ name }}" class="form-control{% if small %} small-textarea{% endif %}" ng-model="{{ ngmodel }}" {{ options }}></textarea>
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro typeahead(label, name, ngmodel, listname, fieldname, options='', errormessage='') %}
<div class="form-group" ng-class="{ 'has-error': form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    {%- if suffix %}
    <div class="input-group">
    {%- endif %}
    <input type="text" id="{{ name }}" name="{{ name }}" class="form-control" ng-model="displayable{{ listname }}" uib-typeahead="{{ name }} as {{ name }}.{{ fieldname }} for {{ name }} in {{ listname }} | filter:{ {{ fieldname }}: $viewValue }" typeahead-editable="false" typeahead-min-length="0" typeahead-on-select="{{ ngmodel }}=$item.id" {{ options }}>
    {%- if suffix %}
    {%- if suffix[0] != '<' %}<span class="input-group-addon">{% endif %}
    {{ suffix }}
    {%- if suffix[0] != '<' %}</span>{% endif %}
    </div>
    {%- endif %}
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro select(label, name, ngmodel, ngoptions, options='', errormessage='') %}
<div class="form-group" ng-class="{ 'has-error' : form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    <select id="{{ name }}" name="{{ name }}" class="form-control" ng-model="{{ ngmodel }}" ng-options="{{ ngoptions }}" {{ options }}></select>
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro checkbox_button(labelyes, labelno, name, ngmodel) %}
<div class="form-group" ng-class="{ 'has-error' : form.{{ name }}.$invalid && !form.{{ name }}.$pristine }">
    <label for="{{ name }}">{{ label }}</label>
    <button type="button" class="btn form-control" ng-class="{'btn-success': {{ ngmodel }}, 'btn-danger': !{{ ngmodel }} }" ng-model="{{ ngmodel }}" uib-btn-checkbox>
        <span ng-show="{{ ngmodel }}">{{ labelyes }}</span>
        <span ng-hide="{{ ngmodel }}">{{ labelno }}</span>
    </button>
    {%- if errormessage %}
    <p ng-show="form.{{ name }}.$invalid" class="text-danger">
        {{ errormessage }}
    </p>
    {%- endif %}
</div>
{%- endmacro %}
