{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}


{% block title %}{{ _('Dashboard') }} - {{ _('Carriers') }}{% endblock %}
{% block content %}
<h1>{{ _('Carriers') }}</h1>
<p><a href="{{ url_for('dashboard_carrier') }}" class="btn btn-primary">
    <i class="fa fa-plus"></i>
    {{ _('Add a carrier') }}
</a></p>
<table class="table table-hover">
    {%- for carrier in carriers %}
    <tr>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_carrier', carrier_id=carrier.id) }}'">
            <p>{{ carrier }}</p>
        </td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="{{ url_for('dashboard_carrier', carrier_id=carrier.id) }}">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-danger" href="{{ url_for('dashboard_remove_carrier', carrier_id=carrier.id) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {%- endfor %}
</table>
{%- endblock %}
