{#-
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Categories') }}</h1>
<p><a class="btn btn-primary" ui-sref="newcategory">
   <i class="fa fa-plus"></i>
    {{ _('Add a category') }}
</a></p>
<div class="list-group" id="categories-list">{# sv-root sv-part="categories" sv-on-start="start_sort($item)" sv-on-stop="stop_sort($moved)" sv-on-sort="sort($item, $indexTo)">#}
    <input class="list-group-item" type="text" ng-model="query" placeholder="{{ _('Filter') }}">
    <a class="list-group-item" ng-class="{'disabled':category.wrongtarget}" ng-repeat="category in categories | filter:query" ui-sref="category({category_id:category.id})"{# sv-element="sortoptions"#}>
        <div class="row">
            <div class="col-xs-10">
                {#<i class="fa fa-bars" ng-class="{'invisible':query}" sv-handle></i>&nbsp;#}
                <span class="cat-[[ category.level ]]">
                    [[ category.name || category.slug ]]
                </span>
            </div>
        </div>
    </a>
</div>
