{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}

{% macro categories_rows(categories, level=0) %}
{%- for category in categories %}
    <tr>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_category', category_id=category[0].id) }}'">
            <span class="category_hierarchy_{{ level }}">{{ category[0].short_name }}</span>
        </td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="{{ url_for('dashboard_category', category_id=category[0].id) }}">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-danger" href="{{ url_for('dashboard_remove_category', category_id=category[0].id) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {{- categories_rows(category[1], level=level+1) }}
{%- endfor %}
{%- endmacro %}
{% block title %}{{ _('Dashboard') }} - {{ _('Categories') }}{% endblock %}
{% block content %}
<h1>{{ _('Categories') }}</h1>
<p><a href="{{ url_for('dashboard_category') }}" class="btn btn-primary">
    <i class="fa fa-plus"></i>
    {{ _('Add a category') }}
</a></p>
<table class="table table-hover">
    {{- categories_rows(categories) }}
</table>
{%- endblock %}
