{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}

{% block title %}{{ _('Dashboard') }} - {{ _('Country') }}{% endblock %}
{% block content %}
<h1>{% if form.code.data %}{{ form.code.data }}{% else %}{{ _('New country') }}{% endif %}</h1>
<form method="POST">
{{ form.hidden_tag() }}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ forminput(form.code) }}
                </div>
                <div class="col-sm-6">
                    {{ forminput(form.default_name) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ _('Translations') }}</div>
        <div class="panel-body">
            <div class="row">
                {% for l in config.LANGS -%}
                <div class="col-sm-6">
                    {{ forminput(form.name.entries[l]) }}
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>
    <div class="btn-group pull-right" role="group">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            {{ _('Save') }}
        </button>
        <a href="{{ url_for('dashboard_countries') }}" class="btn btn-danger">
            <i class="fa fa-undo"></i>
            {{ _('Cancel') }}
        </a>
    </div>
</form>
{% endblock %}
