{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}

{% macro orderlines(orders) %}
                {%- for order in orders %}
                <a class="list-group-item" href="{{ url_for('dashboard_order', order_number=order.number) }}">
                    {{ order.full_invoice_number }}
                    ({{ order.full_number}}),
                    {{ order.customer }},
                    {{ order.formated_invoice_date }},
                    {{ ngettext('%(num)d product', '%(num)d products', order.quantity) }},
                </a>
                {%- endfor %}
{%- endmacro %}
{% macro productlines(products, show_stock=False) %}
                {%- for product in products %}
                <a class="list-group-item" href="{{ url_for('dashboard_product', product_id=product.id) }}">
                    {{ product.reference }},
                    {{ product }}{% if show_stock %},
                    <b>{{ _('%(qty)d left', qty=product.stock) }}</b>
                    {%- endif %}{% if product.on_demand %}
                    ({{ _('available on demand') }})
                    {%- endif %}
                </a>
                {%- endfor %}
{%- endmacro %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {%- if prep_orders %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ _('Orders in preparation') }}
            </div>
            <div class="list-group">
                {{- orderlines(prep_orders) }}
            </div>
        </div>
        {%- endif %}
        {%- if paid_orders %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ _('Orders to prepare') }}
            </div>
            <div class="list-group">
                {{- orderlines(paid_orders) }}
            </div>
        </div>
        {%- endif %}
        {%- if awaiting_payment_orders %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                {{ _('Awaiting payment') }}
            </div>
            <div class="list-group">
                {{- orderlines(awaiting_payment_orders) }}
            </div>
        </div>
        {%- endif %}
    </div>
    <div class="col-md-6">
        {%- if out_of_stock_products %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                {{ _('Out of stock')}}
            </div>
            <div class="list-group">
                {{- productlines(out_of_stock_products) }}
            </div>
        </div>
        {%- endif %}
        {%- if stock_alert_products %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                {{ _('Out of stock soon')}}
            </div>
            <div class="list-group">
                {{- productlines(stock_alert_products, show_stock=True) }}
            </div>
        </div>
        {%- endif %}
    </div>
</div>
{%- endblock %}
