{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Order:') }} [[ order.full_number ]]</h1>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 text-right">{{ _('Customer') }}</div>
                    <div class="col-xs-7">[[ order.customer.email ]]</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">{{ _('Order date') }}</div>
                    <div class="col-xs-7">[[ order.date | date ]]</div>
                </div>
                <div class="row" ng-show="order.invoice_number">
                    <div class="col-xs-5 text-right">{{ _('Invoice date') }}</div>
                    <div class="col-xs-7">
                        <a href="" target="_blank">{# XXX link to invoice (PDF) #}
                            [[ order.invoice_date | date ]]
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">{{ _('Status') }}</div>
                    <div class="col-xs-7 text-[[ order.status_color ]]">[[ order.human_status ]]</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">{{ _('Payment mode') }}</div>
                    <div class="col-xs-7">
                        <i class="fa fa-[[ order.payment_icon ]]" ng-id="order.payment_icon"></i>
                        [[ order.payment_description ]]
                    </div>
                </div>
                <div class="row" ng-show="order.payment_date">
                    <div class="col-xs-5 text-right">{{ _('Payment date') }}</div>
                    <div class="col-xs-7">[[ order.payment_date | date ]]</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">{{ _('Carrier') }}</div>
                    <div class="col-xs-7">[[ order.carrier_description ]]</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">{{ _('Reused packaging') }}</div>
                    <div class="col-xs-7">
                        <span class="text-success" ng-show="order.accept_reused_package">{{ _('yes') }}</span>
                        <span class="text-danger" ng-hide="order.accept_reused_package">{{ _('no') }}</span>
                    </div>
                </div>
                <div class="row" ng-show="order.tracking_number">
                    <div class="col-xs-5 text-right">{{ _('Tracking number') }}</div>
                    <div class="col-xs-7">
                        <a ng-href="[[ order.tracking_url ]]" target="_blank">
                            [[ order.tracking_number ]]
                        </a>
                    </div>
                </div>
                <div ng-show="order.status == 'unconfirmed'" class="text-right">
                    {{ _('Cancelled if not paid within %(num)d days.', num=config.CONFIRM_DELAY) }}
                </div>
                <div ng-show="order.status == 'awaiting_payment'" class="text-right">
                    {{ _('Cancelled if payment not received within %(num)d days.', num=config.PAYMENT_DELAY) }}
                </div>
            </div>
        </div>
        <form ng-show="(order.status=='preparation' || order.status=='shipped') && order.tracking" ng-submit="set_tracking_number()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="tracking_number" placeholder="{{ _('Tracking number') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-if="order.status=='preparation'">
                            {{ _('Parcel shipped') }}
                        </button>
                        <button class="btn btn-primary" type="submit" ng-if="order.status!='preparation'">
                            <i class="fa fa-dot-circle-o"></i>
                            {{ _('Change tracking number') }}
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <div class="form-group btn-group">
            <button class="btn btn-primary" ng-if="order.next_states.indexOf('awaiting_payment')!=-1" ng-click="change_status('awaiting_payment')">
                {{ _('Confirm (wait for payment)') }}
            </button>
            <button class="btn btn-success" ng-if="order.next_states.indexOf('payment_received')!=-1" ng-click="change_status('payment_received')">
                {{ _('Payment received') }}
            </button>
            <button class="btn btn-danger" ng-if="order.next_states.indexOf('payment_failed')!=-1" ng-click="change_status('payment_failed')">
                {{ _('Payment failed') }}
            </button>
            <button class="btn btn-info" ng-if="order.next_states.indexOf('preparation')!=-1" ng-click="change_status('preparation')">
                {{ _('Begin preparation') }}
            </button>
            <button class="btn btn-primary" ng-if="order.next_states.indexOf('shipped')!=-1 && !order.tracking" ng-click="change_status('shipped')">
                {{ _('Parcel shipped') }}
            </button>
            <button class="btn btn-warning" ng-if="order.next_states.indexOf('awaiting_return')!=-1" ng-click="change_status('awaiting_return')">
                {{ _('Accept a return') }}
            </button>
            <button class="btn btn-danger" ng-if="order.next_states.indexOf('refund')!=-1" ng-click="change_status('refund')">
                {{ _('Emit a refund') }}
            </button>
            <button class="btn btn-danger" ng-if="order.next_states.indexOf('cancelled')!=-1" ng-click="change_status('cancelled')">
                {{ _('Cancel') }}
            </button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-10">
                        <i class="fa fa-cube"></i>
                        {{ _('Product') }}
                    </div>
                    <div class="col-xs-2 text-right">
                        {{ _('Qty') }}
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="product in order.products">
                    <div class="row">
                        <div class="col-xs-3">
                            [[ product.reference ]]
                        </div>
                        <div class="col-xs-7">
                            [[ product.name ]]
                        </div>
                        <div class="col-xs-2 text-right">
                            [[ product.quantity ]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker"></i>
                {{ _('Delivery address') }}
            </div>
            <div class="panel-body">
                <b ng-bind-html="order.delivery | htmlbr"></b>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-text-o"></i>
                {{ _('Billing address') }}
            </div>
            <div class="panel-body text-muted" ng-bind-html="order.billing | htmlbr">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <b>{{ _('Subtotal') }}</b>
                        </div>
                        <div class="col-xs-4 text-right">
                            <b>[[ order.net_subtotal ]]</b>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            {{ _('Shipping fee') }}
                        </div>
                        <div class="col-xs-4 text-right">
                            [[ order.net_shipping ]]
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row text-info total-cost">
                        <div class="col-xs-8">
                            <b>{{ _('Total') }}</b>
                        </div>
                        <div class="col-xs-4 text-right">
                            <b>[[ order.net_total ]]</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













{#
<div class="row">
    <div class="col-sm-6">
        {{ f.input_text(_('Slug'), 'slug', 'category.slug', 'required', _('Slug is mandatory')) }}
    </div>
    <div class="col-sm-6">
        {{ f.typeahead(_('Parent'), 'parent', 'category.parent', 'categories', 'full_name') }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6" ng-repeat="lang in langs">
        <div class="panel panel-default">
            <div class="panel-heading">[[ lang ]]</div>
            <div class="panel-body">
                {{ f.input_text(_('Name'), 'name_[[ lang ]]', 'category.name[lang]', suffix='<span class="input-group-btn"><button class="btn btn-primary" ng-click="slug_from(category.name[lang])">'|safe+_('&rarr; slug')+'</button></span>'|safe) }}
                {{ f.textarea(_('Description'), 'description_[[ lang ]]', 'category.description[lang]') }}
            </div>
        </div>
    </div>
</div>
{{ d.submit_back('categories') }}
</form>
#}
