{#-
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Orders') }}</h1>
<div class="list-group" id="categories-list">
    <input class="list-group-item" type="text" ng-model="query" placeholder="{{ _('Filter') }}">
    <a class="list-group-item" ng-repeat="order in orders | filter:query" ui-sref="order({number:order.number})">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                [[ order.full_number ]]
                ([[ order.date | date ]])
            </div>
            <div class="col-xs-6 col-md-3">
                [[ order.customer ]]
            </div>
            <div class="col-xs-6 col-md-4 text-[[ order.status_color ]]">
                [[ order.human_status ]]
            </div>
            <div class="col-xs-6 col-md-2 text-right">
                [[ order.net_total ]]
            </div>
        </div>
    </a>
</div>
