{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}

{% block title %}{{ _('Dashboard') }} - {{ _('Page') }}{% endblock %}
{% block content %}
<h1>
    {%- if page.slug %}
    {{ page.slug }}
    <a href="/{{ page.url }}" class="btn btn-primary btn-sm" target="_blank">
        <i class="fa fa-search"></i>
        {{ _('see in the shop') }}
    </a>
    {%- else %}
    {{ _('New page') }}
    {%- endif %}
</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-10">
                    {{ forminput(form.slug) }}
                </div>
                <div class="col-xs-2">
                    {{ forminput(form.in_menu) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ _('Translations') }}</div>
        <div class="panel-body">
            <div class="row">
                {% for l in config.LANGS -%}
                <div class="col-sm-6">
                    {{ forminput(form.title.entries[l]) }}
                    {{ forminput(form.text.entries[l], class='large-textarea') }}
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
                {{ _('Save') }}
            </button>
            <a href="{{ url_for('dashboard_pages', pagetype=pagetype) }}" class="btn btn-danger">
                <i class="fa fa-undo"></i>
                {{ _('Cancel') }}
            </a>
        </div>
    </div>
</form>
{%- if page.id %}
<div id="pictures" class="panel panel-default">
    <div class="panel-heading">{{ _('Pictures') }}</div>
    <div class="list-group">
        {%- for photo in page.photos %}
        <div class="list-group-item">
        <img src="{{ photo.thumbnail_url }}">
        <tt>.. image:: {{ photo.url }}</tt>
        <a class="btn btn-danger" href="{{ url_for('dashboard_remove_page_photo', pagetype=page.pagetype, page_id=page.id, filename=photo.filename) }}">
            <i class="fa fa-trash"></i>
            {{ _('Remove') }}
        </a>
        </div>
        {%- endfor %}
        <div class="list-group-item">
            <form class="form-inline" method="POST" action="{{ url_for('dashboard_add_page_photo', pagetype=page.pagetype, page_id=page.id) }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="sr-only" for="photo[]">Pictures</label>
                    <input type="file" name="photo[]" multiple="multiple">
                </div>
                <button type="submit" class="btn btn-success">
                    {{ _('Upload') }}
                </button>
            </form>
        </div>
    </div>
</div>
{%- endif %}
{%- endblock %}
