{#-
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% import "macros/dashboard.html" as d %}
{% import "macros/form.html" as f %}
<form name="form" novalidate>
<h1>{{ _('Page:') }} [[ page.slug || "{{ _('(please set a slug)') }}" ]] <small>([[ page.pagetype ]])</small></h1>
<div class="row">
    <div class="col-sm-6 col-md-8">
        {{ f.input_text(_('Slug'), 'slug', 'page.slug', 'required', _('Slug is mandatory')) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ f.checkbox_button(_('Display in menu'), _('Do not display'), 'in_menu', 'page.in_menu') }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6" ng-repeat="lang in langs">
        <div class="panel panel-default">
            <div class="panel-heading">[[ lang ]]</div>
            <div class="panel-body">
                {{ f.input_text(_('Title'), 'title_[[ lang ]]', 'page.title[lang]', suffix='<span class="input-group-btn"><button class="btn btn-primary" ng-click="slug_from(page.title[lang])">'|safe+_('&rarr; slug')+'</button></span>'|safe) }}
                {{ f.textarea(_('Text'), 'text_[[ lang ]]', 'page.text[lang]') }}
            </div>
        </div>
    </div>
</div>
<div id="pictures" class="panel panel-default">
    <div class="panel-heading">{{ _('Pictures') }}</div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="photo in page.photos">
            <div class="row">
                <div class="col-xs-2">
                    <img ng-src="[[ photo.thumbnail_url ]]">
                </div>
                <div class="col-xs-8">
                    <tt>.. image:: [[ photo.url ]]</tt>
                </div>
                <div class="col-xs-2 text-right">
                    <button class="btn btn-danger" ng-click="delete_photo(photo.filename, $index)">
                        <i class="fa fa-trash"></i>
                        {{ _('Remove') }}
                    </button>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <input type="file" nv-file-select uploader="uploader" ng-if="page.id">
            <p ng-hide="page.id">{{ _('Please save the document before adding images') }}</p>
        </div>
    </div>
</div>
{{ d.submit_back_dynamic("page.pagetype+'s'") }}
</form>
