{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}

{% block title %}{{ _('Dashboard') }} - {{ _('Products') }}{% endblock %}
{% block content %}
<h1>{{ _('Products') }}</h1>
<p><a href="{{ url_for('dashboard_product', product_type='simple') }}" class="btn btn-primary">
    <i class="fa fa-plus"></i>
    {{ _('Add a product') }}
</a></p>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>{{ _('Reference') }}</th>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Type') }}</th>
        <th>{{ _('Stock') }}</th>
        <th>{{ _('On demand') }}</th>
        <th>{{ _('Net price') }}</th>
        <th></th>
    </tr>
    {%- for product in products %}
    <tr>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {%- if product.photos %}
            <img src="{{ product.photos[0].thumbnail_url }}">
            {%- endif %}
        </td>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {{ product.reference }}
        </td>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {{ product }}
        </td>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {{ product.human_type }}
        </td>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {{ product.stock }}
        </td>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {%- if product.on_demand %}
                {{ _('Yes') }}
            {%- else %}
                {{ _('No') }}
            {%- endif %}
        </td>
        <td class="pointer" onclick="document.location='{{ url_for('dashboard_product', product_id=product.id) }}'">
            {{ product.get_price_per_item().quantize('0.01').net }} {{ config.CURRENCY }}
        </td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="{{ url_for('dashboard_product', product_id=product.id) }}">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-danger" href="{{ url_for('dashboard_remove_product', product_id=product.id) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {%- endfor %}
</table>
{%- endblock %}
