{#-
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% import "macros/form.html" as f %}
{% extends "dashboard/product-base.html" %}
{% block details %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ _('Pricing') }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{ f.input_text(_('Purchasing price'), 'purchasing_price', 'product.purchasing_price', suffix=config.CURRENCY) }}
                    </div>
                    <div class="col-xs-6">
                        {{ f.input_text(_('Gross price'), 'gross_price', 'product.gross_price', 'required', _('Gross price is mandatory'), suffix=config.CURRENCY) }}
                    </div>
                    <div class="col-xs-6">
                        {{ f.select(_('Tax'), 'tax', 'product.tax', 'tax.id as tax.name for tax in taxrates', 'required', _('Tax rate is mandatory')) }}
                    </div>
                    <div class="col-xs-6">
                        <label for="net_price">{{ _('Net price') }}</label>
                        <div class="input-group">
                            <input type="text" id="net_price" name="net_price" class="form-control" ng-value="net_price()" disabled>
                            <span class="input-group-addon">{{ config.CURRENCY }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ _('Stock and shipping') }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{ f.input_text(_('Stock'), 'stock', 'product.stock') }}
                    </div>
                    <div class="col-xs-6">
                        {{ f.input_text(_('Stock alert'), 'stock_alert', 'product.stock_alert') }}
                    </div>
                    <div class="col-xs-6">
                        {{ f.checkbox_button(_('Available on demand'), _('Not on demand'), 'on_demand', 'product.on_demand') }}
                    </div>
                    <div class="col-xs-6">
                        {{ f.input_text(_('Weight'), 'weight', 'product.weight', suffix='g') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
