{#-
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Products') }}</h1>
<p><a class="btn btn-primary" ui-sref="newproduct">
   <i class="fa fa-plus"></i>
    {{ _('Add a product') }}
</a></p>
<div class="list-group" id="categories-list">
    <input class="list-group-item" type="text" ng-model="query" placeholder="{{ _('Filter') }}">
    <a class="list-group-item" ng-repeat="product in products | filter:query" ui-sref="product({product_id:product.id})">
        <div class="row">
            <div class="col-xs-6 col-sm-3 text-muted">
                [[ product.reference ]]
            </div>
            <div class="col-xs-6 col-sm-4 col-sm-push-5 text-right">
                <span uib-tooltip="{{ _('Gross price') }}" tooltip-placement="left">
                    [[ product.gross_price | currency:"{{ config.CURRENCY }}" ]]
                </span>
                &ndash;
                <span uib-tooltip="{{ _('Stock remaining') }}" tooltip-placement="left">
                    [[ product.stock ]]
                    <i class="fa fa-cubes"></i>
                </span>
                &ndash;
                <span uib-tooltip="{{ _('Is on sale') }}" tooltip-placement="left" ng-show="product.on_sale">
                    <i class="text-success fa fa-check"></i>
                </span>
                <span uib-tooltip="{{ _('Is not on sale') }}" tooltip-placement="left" ng-hide="product.on_sale">
                    <i class="text-danger fa fa-times"></i>
                </span>
            </div>
            <div class="col-sm-5 col-sm-pull-4">
                [[ product.name || product.slug ]]
            </div>
        </div>
    </a>
</div>
