{#-
Copyright 2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% import "macros/form.html" as f %}
<form name="form" ng-submit="submit()" novalidate>
<h1>{{ _('Product:') }} [[ product.slug ]]</h1>
<div class="row">
    <div class="col-md-3 col-xs-6">
        {{ f.input_text(_('Slug'), 'slug', 'product.slug', 'required', _('Slug is mandatory')) }}
    </div>
    <div class="col-md-3 col-xs-6">
        {{ f.input_text(_('Reference'), 'reference', 'product.reference', 'required', _('Reference is mandatory')) }}
    </div>
    <div class="col-md-3 col-xs-6">
        {{ f.typeahead(_('Category'), 'category', 'product.category', 'categories', 'full_name', 'required', _('Category is mandatory')) }}
    </div>
    <div class="col-md-3 col-xs-6">
        {{ f.typeahead(_('Documentation'), 'documentation', 'product.documentation', 'documentations', 'title', 'required', _('Documentation is mandatory')) }}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        {{ f.input_text(_('Keywords'), 'keywords', 'product.keywords') }}
    </div>
    <div class="col-md-3">
        {{ f.checkbox_button(_('Is on sale'), _('Not on sale'), 'on_sale', 'product.on_sale') }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6" ng-repeat="lang in langs">
        <div class="panel panel-default">
            <div class="panel-heading">[[ lang ]]</div>
            <div class="panel-body">
                {{ f.input_text(_('Name'), 'name[[ lang ]]', 'product.name[lang]', suffix='<span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="slug_from(product.name[lang])">'|safe+_('&rarr; slug')+'</button></span>'|safe) }}
                {{ f.textarea(_('Description'), 'description_[[ lang ]]', 'product.description[lang]') }}
            </div>
        </div>
    </div>
</div>
<uib-accordion>
    <uib-accordion-group heading="{{ _('Related products') }} ([[ product.related_products.length ]])">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ _('Selected') }}</div>
                    <div class="list-group">
                        <button type="button" class="list-group-item" ng-repeat="prodid in product.related_products" ng-click="remove_related_product(prodid)">
                            [[ product_name_from_id(prodid) ]]
                            <span class="pull-right">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ _('Available') }}</div>
                    <div class="list-group">
                        <input class="list-group-item" type="text" ng-model="unrelated_query" placeholder="{{ _('Filter') }}">
                        <button type="button" class="list-group-item" ng-repeat="prod in unrelated_products() | filter:unrelated_query" ng-click="add_related_product(prod.id)">
                            <i class="fa fa-arrow-left"></i>
                            &nbsp;&nbsp;
                            [[ prod.name || prod.slug ]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
{% block details %}
{% endblock %}
<div id="pictures" class="panel panel-default">
    <div class="panel-heading">{{ _('Pictures') }}</div>
    <div class="panel-body">
        <div class="row" id="photos" sv-root sv-part="photos" sv-on-sort="sort_photo($indexFrom, $indexTo)">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="photo in photos" sv-element="photos_sortoptions">
                <div class="thumbnail" sv-handle>
                    <img ng-src="[[ photo.thumbnail_url ]]" onmousedown="return false;">
                    <div class="caption text-center">
                        <button type="button" class="btn btn-danger" ng-click="delete_photo(photo.filename, $index)">
                            <i class="fa fa-trash"></i>
                            {{ _('Remove') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="product.id">
            <hr>
            <input type="file" nv-file-select uploader="uploader">
        </div>
        <p ng-hide="product.id">{{ _('Please save the product before adding images') }}</p>
    </div>
</div>
<div id="page-buttons">
    <button type="submit" class="btn btn-link" uib-tooltip="{{ _('Save') }}" ng-disabled="form.$invalid">
        <i class="fa fa-check-circle fa-4x text-success"></i>
    </button>
    <button type="button" class="btn btn-link" ng-click="delete()" uib-tooltip="{{ _('Remove') }}">
        <i class="fa fa-times-circle fa-4x text-danger"></i>
    </button>
    <a class="btn btn-link" ui-sref="products" uib-tooltip="{{ _('Back') }}">
        <i class="fa fa-arrow-circle-left fa-4x" ng-class="{'text-primary': form.$pristine, 'text-danger': form.$dirty }"></i>
    </a>
</div>
</form>
