{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}


{% block title %}{{ _('Dashboard') }} - {{ _('Taxes') }}{% endblock %}
{% block content %}
<h1>{{ _('Taxes') }}</h1>
<div class="row">
    <div class="col-xs-6">
        <label>{{ _('Name') }}</label>
    </div>
    <div class="col-xs-4">
        <label>{{ _('Rate') }}</label>
    </div>
</div>
{%- for form in allforms %}
<div class="row">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="col-xs-6">
            <div class="form-group">
                {{ form.name(class='form-control') }}
            </div>
        </div>
        <div class="col-md-4 col-xs-3">
            <div class="form-group">
                <div class="input-group">
                    {{ form.rate(class='form-control') }}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-3">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i>
                </button>
                <a href="{{ url_for('dashboard_remove_tax', tax_id=form._prefix[:-1]) }}" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    </form>
</div>
{%- endfor %}
<div class="row">
    <form method="POST">
        {{ newform.hidden_tag() }}
        <div class="col-xs-6">
            <div class="form-group">
                {{ newform.name(class='form-control') }}
            </div>
        </div>
        <div class="col-md-4 col-xs-3">
            <div class="form-group">
                <div class="input-group">
                    {{ newform.rate(class='form-control') }}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-3">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}
