{#-
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Users') }}</h1>
<p><a class="btn btn-primary" ui-sref="newuser">
   <i class="fa fa-plus"></i>
    {{ _('Add an user') }}
</a></p>
<div class="panel panel-default">
<div class="list-group">
    <input class="list-group-item" type="text" ng-model="query" placeholder="{{ _('Filter') }}">
    <a class="list-group-item" ng-repeat="user in users | filter:query" ui-sref="user({user_id:user.id})">
        <div class="row">
            <div class="col-xs-8">
                [[ user.email ]]
            </div>
            <div class="col-xs-4 text-right">
                <span ng-show="user.is_admin">
                    <span uib-tooltip="{{ _('Is an admin') }}" tooltip-placement="left">
                        <i class="fa fa-user-md"></i>
                    </span>
                    &ndash;
                </span>
                <span uib-tooltip="{{ _('Addresses') }}" tooltip-placement="left">
                    [[ user.addresses ]] <i class="fa fa-map-marker"></i>
                </span>
                &ndash;
                <span uib-tooltip="{{ _('Saved carts') }}" tooltip-placement="left">
                    [[ user.carts ]] <i class="fa fa-shopping-cart"></i>
                </span>
            </div>
        </div>
    </a>
</div>
</div>
