{#-
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% import "macros/form.html" as f %}
<form name="form" ng-submit="submit()" novalidate>
<h1>{{ _('User:') }} [[ form.email.$valid || form.email.$pristine ? user.email : "{{ _('incorrect email address') }}" ]]</h1>
<div class="row">
    <div class="col-xs-8 col-md-4">
        {{ f.input_email(_('Email address'), 'email', 'user.email', 'required', _('Incorrect email address')) }}
    </div>
    <div class="col-xs-4 col-md-2">
        {{ f.checkbox_button(_('Admin'), _('Not admin'), 'is_admin', 'user.is_admin') }}
    </div>
    <div class="col-xs-6 col-md-3">
        {{ f.input_password(_('Password'), 'password', 'user.password', 'ng-required="!user.id"', _('Password is mandatory for new users')) }}
    </div>
    <div class="col-xs-6 col-md-3">
        {{ f.input_password(_('Password (again)'), 'password_again', 'user.password_confirm', 'match="user.password"', _('Passwords must match')) }}
    </div>
</div>
<h2>{{ _('Addresses') }}</h2>
<uib-accordion>
    <uib-accordion-group ng-repeat="address in user.addresses" heading="[[ address.title || '{{ _('Untitled address') }}' ]]" is-open="address.new">
            <div class="row">
                <div class="col-sm-6">
                    {{ f.input_text(_('Address title'), 'address_t_[[ $index ]]', 'address.title', 'required', _('Title is mandatory')) }}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ f.input_text(_('First name'), 'address_f_[[ $index ]]', 'address.firstname') }}
                        </div>
                        <div class="col-xs-6">
                            {{ f.input_text(_('Last name'), 'address_l_[[ $index ]]', 'address.lastname', 'required', _('Last name is mandatory')) }}
                        </div>
                    </div>
                    {{ f.input_text(_('Phone'), 'address_p_[[ $index ]]', 'address.phone') }}
                </div>
                <div class="col-sm-6">
                    {{ f.textarea(_('Address'), 'address_a_[[ $index ]]', 'address.address', 'required', _('Address is mandatory'), small=True) }}
                    {{ f.select(_('Country'), 'address_c_[[ $index ]]', 'address.country', 'country.code as prefixed(country) for country in countries', 'required', _('Country is mandatory')) }}
                    <button type="button" class="btn btn-danger pull-right" ng-click="delete_address($index)">
                        <i class="fa fa-trash"></i>
                        {{ _('Remove') }}
                    </button>
                </div>
            </div>
    </uib-accordion-group>
</uib-accordion>
<button type="button" class="btn btn-success" ng-click='user.addresses.push({new:true})'>
    <i class="fa fa-plus"></i>
    {{ _('Add an address') }}
</button>
<h2>{{ _('Saved carts') }}</h2>
<uib-accordion>
    <uib-accordion-group ng-repeat="cart in user.carts" heading="[[ cart.name ]] ([[ cart.date | date ]])">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-cube"></i>
                        {{ _('Product') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Qty') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Unit') }}
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        {{ _('Total') }}
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="line in cart.lines">
                    <div class="row">
                        <div class="col-sm-6">
                            [[ line.product.name ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ line.quantity ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ line.product.net_price | currency:"{{ config.CURRENCY }}" ]]
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right">
                            [[ line.product.net_price * line.quantity | currency:"{{ config.CURRENCY }}" ]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
<div id="page-buttons">
    <button type="submit" class="btn btn-link" uib-tooltip="{{ _('Save') }}" ng-disabled="form.$invalid">
        <i class="fa fa-check-circle fa-4x text-success"></i>
    </button>
    <button type="button" class="btn btn-link" ng-click="delete()" uib-tooltip="{{ _('Remove') }}">
        <i class="fa fa-times-circle fa-4x text-danger"></i>
    </button>
    <a class="btn btn-link" ui-sref="users" uib-tooltip="{{ _('Back') }}">
        <i class="fa fa-arrow-circle-left fa-4x" ng-class="{'text-primary': form.$pristine, 'text-danger': form.$dirty }"></i>
    </a>
</div>
</form>
