{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "dashboard/skeleton.html" %}

{% block title %}{{ _('Dashboard') }} - {{ _('User') }}{% endblock %}
{% block content %}
<h1>{% if form.email.data %}{{ form.email.data }}{% else %}{{ _('New user') }}{% endif %}</h1>
<form method="POST">
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    {{ forminput(form.email) }}
                </div>
                <div class="col-xs-6 col-md-4">
                    {{ forminput(form.password) }}
                </div>
                <div class="col-xs-6 col-md-4">
                    {{ forminput(form.password_again) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            {{ form.is_admin }}
                            {{ _('Is an administrator') }}
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            {{ _('Save') }}
                        </button>
                        <a href="{{ url_for('dashboard_users') }}" class="btn btn-danger">
                            <i class="fa fa-undo"></i>
                            {{ _('Cancel') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%- if saved_carts %}
<h2>{{ _('Saved carts') }}</h2>
<div class="list-group">
    {%- for cart in saved_carts %}
    <div class="list-group">
        {%- for line in cart.lines %}
        <a href="{{ url_for('dashboard_product', product_id=line.product.id) }}" class="list-group-item cart-list">
            <div class="row">
                <div class="col-xs-8 col-md-9 col-lg-10">
                    {{ line.product }}
                </div>
                <div class="col-xs-4 col-md-3 col-lg-2 text-right">
                    {{ line.get_price_per_item().quantize('0.01').net }} {{ config.CURRENCY }}
                    ×
                    {{ line.available_quantity }}
                    =
                    <strong>
                        {{ line.get_total().quantize('0.01').net }} {{ config.CURRENCY }}
                    </strong>
                </div>
             </div>
        </a>
        {%- endfor %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ url_for('dashboard_delete_savedcart', cart_id=cart.id) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        {{ _('Delete') }}
                    </a>
                </div>
                <div class="col-xs-6 text-right">
                    <strong>
                        {{ _('Total:') }} {{ cart.total_price.quantize('0.01').net }} {{ config.CURRENCY }}
                    </strong>
                </div>
            </div>
        </div>
    </div>
    {%- endfor %}
</div>
{%- endif %}
{%- if addresses or newaddress %}
<h2 id="addresses">{{ _('Addresses') }}</h2>
<div class="panel panel-default">
    <div class="list-group">
        {%- for address in addresses %}
        <div class="list-group-item">
            <form method="POST">
                {{ address.hidden_tag() }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ forminput(address.title) }}
                        {{ forminput(address.firstname) }}
                        {{ forminput(address.lastname) }}
                        {{ forminput(address.phone) }}
                    </div>
                    <div class="col-sm-6">
                        {{ forminput(address.address) }}
                        {{ forminput(address.country) }}
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-check"></i>
                                    {{ _('Change') }}
                                </button>
                            </div>
                            <a href="{{ url_for('dashboard_remove_address', user_id=user_id, address_id=address._prefix[:-1]) }}" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                                {{ _('Remove') }}
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {%- endfor %}
        <div class="list-group-item">
            <h3>{{ _('New address') }}</h3>
            <form method="POST">
                {{ newaddress.hidden_tag() }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ forminput(newaddress.title) }}
                        <div class="row">
                            <div class="col-xs-6">
                                {{ forminput(newaddress.firstname) }}
                            </div>
                            <div class="col-xs-6">
                                {{ forminput(newaddress.lastname) }}
                            </div>
                        </div>
                        {{ forminput(newaddress.phone) }}
                    </div>
                    <div class="col-sm-6">
                        {{ forminput(newaddress.address) }}
                        {{ forminput(newaddress.country) }}
                        {{ formsubmit(_('Create'), 'plus') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%- endif %}
{%- endblock %}
