{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "shop/product/skeleton.html" %}

{% block price %}{{ product.get_price_per_item().quantize('0.01').net }}{% endblock %}
{% block add_to_cart %}
            {%- if product.stock - cart.quantity(product) > 0 or product.on_demand %}
            <form method="POST" action="{{ url_for('add_to_cart') }}">
                <input type="hidden" name="product" value="{{ product.id }}">
                <div class="form-group">
                    <label for="quantity">{{ _('Quantity') }}</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="dec_quantity">-</button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control text-center" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="inc_quantity">+</button>
                        </span>
                    </div>
                </div>
                <div id="quantity-message" class="alert alert-danger hidden">{{ _('Sorry, insufficient stock.') }}</div>
                {%- if product.stock - cart.quantity(product) > 0 %}
                <button id="add-to-cart" class="btn btn-success btn-lg btn-wrap btn-block">
                    {{ _('Add to cart') }}
                </button>
                {%- else %}
                <button id="add-to-cart" class="btn btn-info btn-lg btn-wrap btn-block">
                    {{ _('Add to cart') }}
                </button>
                <p class="text-center bottom-no-space">{{ _('Available on demand, delay %(min)d-%(max)d days', min=config.ON_DEMAND_DELAY_MIN, max=config.ON_DEMAND_DELAY_MAX) }}</p>
                {%- endif %}
            </form>
            {%- else -%}
            <button class="btn btn-danger btn-lg btn-block disabled">
                {{ _('Out of stock') }}
            </button>
            {%- endif %}
{%- endblock %}

{% block details %}
<script>
    document.getElementById('inc_quantity').addEventListener('click', function(e) {
        e.preventDefault();
        var orig = parseInt(document.getElementById('quantity').value);
        {%- if product.on_demand %}
        document.getElementById('quantity').value = orig + 1;
        {%- else %}
        if (orig < {{ product.stock - cart.quantity(product) }}) {
            document.getElementById('quantity').value = orig + 1;
        } else {
            document.getElementById('stock-overlay').className = "";
        };
        {%- endif %}
    });
    document.getElementById('dec_quantity').addEventListener('click', function(e) {
        e.preventDefault();
        var orig = parseInt(document.getElementById('quantity').value);
        if (orig > 1) {
            document.getElementById('quantity').value = orig - 1;
        };
    });
</script>
{%- endblock %}

