{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "shop/product/skeleton.html" %}

{% block price %}{{ product.get_price_per_item().quantize('0.01').net }}{% endblock %}
{% block add_to_cart %}
<div ng-init="stock={{ product.stock }}; on_demand={{ product.on_demand|int }}; qty_in_cart={{ cart.quantity(product) }}" ng-controller="ProductCtrl" ng-cloak>
    <div ng-show="stock-qty_in_cart>0 || on_demand">
        <div class="form-group">
            <label for="quantity">{{ _('Quantity') }}</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="dec_quantity()">-</button>
                </span>
                <input type="text" class="form-control text-center" ng-model="quantity">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="inc_quantity()">+</button>
                </span>
            </div>
        </div>
        <form method="POST" action="{{ url_for('add_to_cart') }}">
            <input type="hidden" name="product" value="{{ product.id }}">
            <input type="hidden" name="quantity" value="[[ quantity ]]">
                <button ng-show="stock-qty_in_cart-quantity>=0" class="btn btn-success btn-lg btn-wrap btn-block">
                    {{ _('Add to cart') }}
                </button>
                <div ng-show="on_demand && stock-qty_in_cart-quantity<0">
                    <button class="btn btn-info btn-lg btn-wrap btn-block">
                        {{ _('Add to cart') }}
                    </button>
                    <p class="text-center bottom-no-space">{{ _('Available on demand, delay %(min)d-%(max)d days', min=config.ON_DEMAND_DELAY_MIN, max=config.ON_DEMAND_DELAY_MAX) }}</p>
                </div>
        </form>
        <div class="alert alert-danger text-center bottom-no-space" ng-hide="on_demand || stock-qty_in_cart-quantity>=0">
            {{ _('Insufficient stock') }}
        </div>
    </div>
    <div class="alert alert-danger text-center" ng-hide="stock-qty_in_cart>0 || on_demand">
        {{ _('Out of stock') }}
    </div>
</div>
{%- endblock %}

