
{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ product }}{% endblock %}
{% block content %}
<h1>{{ product }}</h1>
<div class="row">
    <div class="col-xs-7 col-md-8 col-lg-9">
        <div class="row">
            <div class="{% if not product.photos %}hidden-xs{% endif %} col-md-5 col-lg-6">
                {%- if product.photos %}
                <a href="{{ product.photos[0].url }}" target="_blank" class="thumbnail" onclick="display('{{ product.photos[0].url }}'); return false;">
                    <img src="{{ product.photos[0].preview_url }}">
                </a>
                {%- if product.photos|length > 1 %}
                {%- set thumb_width = (12 / (product.photos|length - 1))|int -%}
                {%- set thumb_pre = ((12 % (product.photos|length - 1 )) / 2)|int -%}
                <div class="row small-gutter">
                    {%- for photo in product.photos[1:] %}
                    <div class="col-xs-{{ thumb_width }}">
                        <a href="{{ photo.url }}" target="_blank" class="thumbnail" onclick="display('{{ photo.url }}'); return false;">
                            <img src="{{ photo.thumbnail_url }}">
                        </a>
                    </div>
                    {%- endfor %}
                </div>
                {%- endif %}
                {%- else -%}
                <div class="panel panel-default product-illustration-placeholder">
                    <div class="panel-body">
                        <i class="fa fa-ban"></i>
                    </div>
                </div>
                {%- endif %}
            </div>
            <div class="col-md-7 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <i class="fa fa-ellipsis-h"></i>
                            {{ _('Summary') }}
                        </h2>
                    </div>
                    <div class="panel-body page-content">
                        <p>{{ product.output_description|safe }}</p>
                        <hr>
                        <p>{{ _('Reference:') }} <i>{{ product.reference }}</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5 col-md-4 col-lg-3">
        <div class="well">
            <p class="price">{% block price %}{% endblock %} {{ config.CURRENCY }}</p>
            <hr>
            {% block add_to_cart %}{% endblock %}
        </div>
    </div>
</div>
{% block details %}{% endblock %}
{%- if product.related_products %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-cubes"></i>
            {{ _('Related products') }}
        </h2>
    </div>
    <div class="panel-body">
        {{ products_grid(product.related_products) }}
    </div>
</div>
{%- endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-book"></i>
            {{ _('Documentation') }}
        </h2>
    </div>
    <div class="panel-body page-content">
        {{ product.output_documentation|safe }}
    </div>
</div>
<div id="stock-overlay" class="hidden" onclick="this.className='hidden';">
    <div class="overlay">
    </div>
    <div class="alert alert-danger overlay-content">
        <i class="fa fa-exclamation-triangle"></i>
        <span class="sr-only">{{ _('Warning:') }}</span>
        {{ _('Sorry, insufficient stock.') }}
    </div>
</div>
<div id="image-overlay" class="hidden" onclick="this.className='hidden';">
    <div class="overlay">
    </div>
    <div id="overlay-image-container">
        <img src="" id="overlay-image">
    </div>
</div>
<script>
    function display(img_url) {
        document.getElementById("overlay-image").src = img_url;
        document.getElementById("image-overlay").className = "";
    };
</script>
{%- endblock %}
