{% extends 'email/skeleton.html' %}
{% block content %}
<p>Bonjour,</p>

<p>Votre paiement pour la commande {{ order.full_number }} (facture {{ order.full_invoice_number }}) a été reçu&nbsp;!</p>

<p>Cette commande sera très bientôt préparée et expédiée.</p>

<p>Pour obtenir plus de détails sur cette commande, cliquez sur le lien suivant&nbsp;:<br>
<a href="{{ url_for('order', order_number=order.number, _external=True) }}">{{ url_for('order', order_number=order.number, _external=True) }}</a>
</p>

<p>Cordialement,<br>
L'équipe <i>{{ config.SHOP_NAME }}</i></p>
{% endblock %}
