{#
Copyright 2015-2016 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'email/skeleton.html' %}
{% block content %}
<p>Bonjour,</p>
<p>Votre paiement pour la commande {{ order.full_number }} (facture {{ order.invoice_full_number }}) a été reçu&nbsp;!</p>
<p>Cette commande sera très bientôt préparée et expédiée.</p>
<p>Pour obtenir plus de détails sur cette commande, cliquez sur le lien suivant&nbsp;:<br>
<a href="{{ root }}/orders/{{ order.number }}">{{ root }}/orders/{{ order.number }}</a>
</p>
<p>Cordialement,<br>
L'équipe <i>{{ config.SHOP_NAME }}</i></p>
{% endblock %}
