{% extends "skeleton.html" %}

{% block title %}{{ _('Payment done') }}{% endblock %}
{% block content %}
<h1>{{ _('Payment done') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _("Your payment has been received! It should be accepted soon.") }}</p>
        <div class="btn-group">
            <a href="{{ url_for('home') }}" class="btn btn-success">
                {{ _('Return to the home page') }}
            </a>
            <a href="{{ url_for('order', order_number=order.number) }}" class="btn btn-info">
                {{ _('Return to the order page') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
