{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('Payment cancelled') }}{% endblock %}
{% block content %}
<h1>{{ _('Payment cancelled') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _("You have cancelled the payment!") }}</p>
        <div class="btn-group">
            <a href="{{ url_for('cancel_order', order_number=order.number) }}" class="btn btn-danger">
                {{ _('Cancel the order') }}
            </a>
            <a href="{{ url_for('order', order_number=order.number) }}" class="btn btn-primary">
                {{ _('Return to the order page') }}
            </a>
            <a href="{{ url_for('pay_order', order_number=order.number) }}" class="btn btn-success">
                {{ _('Proceed to payment again') }}
            </a>
        </div>
    </div>
</div>
{%- endblock %}
