{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "skeleton.html" %}

{% block title %}{{ _('SEPA bank transfer') }}{% endblock %}
{% block content %}
<h1>{{ _('SEPA bank transfer') }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _('Please execute a SEPA bank transfer within %(num)d weeks with the following criteria:', num=config.PAYMENT_DELAY) }}</p>
        <table class="table">
            <tr><td>{{ _('Recipient account owner') }}</td><td>{{ config.SEPA_TRANSFER_RECIPIENT }}</td></tr>
            <tr><td>{{ _('Recipient account BIC') }}</td><td><b>{{ config.SEPA_TRANSFER_BIC }}</b></td></tr>
            <tr><td>{{ _('Recipient account IBAN') }}</td><td><b>{{ config.SEPA_TRANSFER_IBAN }}</b></td></tr>
            <tr><td>{{ _('Transfer amount') }}</td><td><b>{{ order.net_total }}</b></td></tr>
            <tr><td>{{ _('Transfer information') }}</td><td><b>{{ order.full_invoice_number }}</b></td></tr>
            <tr><td>{{ _('Recipient address') }}</td><td>{{ config.SEPA_TRANSFER_RECIPIENT_ADDRESS.replace('\n', '<br>')|safe }}</td></tr>
        </table>
    </div>
</div>
{% endblock %}
