{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "lowlevel_skeleton.html" %}

{%- macro products_grid(products) %}
{%- for product in products %}
{{ product.list_icon|safe }}
{%- if loop.index % 4 == 0 %}
<div class="clearfix visible-lg-block"></div>
{%- endif %}
{%- if loop.index % 3 == 0 %}
<div class="clearfix visible-md-block"></div>
{%- endif %}
{%- if loop.index % 2 == 0 %}
<div class="clearfix visible-xs-block visible-sm-block"></div>
{%- endif %}
{%- endfor %}
{%- endmacro %}
{%- macro categories_rows(categories, level=0) %}
                    {%- for c in categories %}
                    <a href="/{{ c[0].url }}" class="list-group-item{% if c[0].id == active %} active{% endif %}">
                        {%- if c[0].nb_products %}
                        <span class="badge">{{ c[0].nb_products }}</span>
                        {%- endif %}
                        <span class="category_hierarchy_{{ level }}">
                            {{ c[0].short_name }}
                        </span>
                    </a>
                    {{- categories_rows(c[1], level=level+1) }}
                    {%- endfor %}
{%- endmacro %}
{% block head %}
<link href="/static/local/local.css" rel="stylesheet">
{%- endblock %}
{%- block body %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">{{ config.SHOP_DESCRIPTION[locale] }}</a>
        </div>
        <p class="navbar-text navbar-right">
            {%- if current_user.is_admin %}
            <a class="navbar-link" href="{{ url_for('dashboard') }}"><i class="fa fa-tachometer"></i> {{ _('Dashboard') }}</a>
            | {%- endif %}
            {% if current_user.is_authenticated -%}
            <a class="navbar-link" href="{{ url_for('profile') }}"><i class="fa fa-user"></i> {{ current_user }}</a> |
            <a class="navbar-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> {{ _('Logout') }}</a>
            {%- else %}
            <a class="navbar-link" href="{{ url_for('login') }}"><i class="fa fa-sign-in"></i> {{ _('Login') }}</a> |
            <a class="navbar-link" href="{{ url_for('register') }}"><i class="fa fa-user-plus"></i> {{ _('Register') }}</a>
            {%- endif %}
            {%- for lang in config.LANGS %}
            {%- if lang != locale %} |
            <a class="navbar-link" href="{{ url_for('change_locale', locale=lang, next=request.path) }}">{{ lang }}</a>
            {%- endif %}
            {%- endfor %}
        </p>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% include 'local/logo.html' ignore missing %}
        </div>
        <div class="col-sm-6 text-right hidden-print">
            <form method="GET" action="{{ url_for('search') }}" class="form-inline">
                <div class="form-group bottom-space">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="{{ _('Search for...') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                            {{ _('Search') }}
                        </button>
                    </span>
                </div>
                </div>
            </form>
            <a href="{{ url_for('cart') }}" class="btn btn-primary btn-lg{% if not cart %} disabled{% endif %} bottom-space">
                <i class="fa fa-shopping-cart"></i>&nbsp;
                <span id="cart-text">{% if cart %}{{ ngettext('%(num)s product, %(sum)s %(currency)s', '%(num)s products, %(sum)s %(currency)s', cart.quantity(), sum=cart.get_total().quantize('0.01').net, currency=config.CURRENCY) }}{% else %}{{ _('Cart is empty' ) }}{% endif %}</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-4 leftmenu hidden-print">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list"></i>
                    {{ _('Categories') }}
                </div>
                <div class="list-group">
                    <a href="{{ url_for('new_products') }}" class="list-group-item">
                        <span class="category_hierarchy_0">
                            {{ _('New products') }}
                        </span>
                    </a>
                    {{- categories_rows(categories, level=0) }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-book"></i>
                    {{ _('Documentation') }}
                </div>
                <div class="list-group">
                    {%- for page in docpages %}
                    <a href="{{ url_for('doc', slug=page.slug) }}" class="list-group-item{% if page.id == active %} active{% endif %}">
                        {{ page.loc_title }}
                    </a>
                    {%- endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i>
                    {{ _('My account') }}
                </div>
                <div class="list-group">
                    {%- if current_user.is_authenticated %}
                    <a class="list-group-item" href="{{ url_for('profile') }}">
                        {{ _('My profile') }}
                    </a>
                    <a class="list-group-item" href="{{ url_for('orders') }}">
                        <span class="badge">{{ current_user.orders.count() }}</span>
                        {{ _('My orders') }}
                    </a>
                    <a class="list-group-item" href="{{ url_for('carts') }}">
                        <span class="badge">{{ current_user.carts.count() }}</span>
                        {{ _('My saved carts') }}
                    </a>
                    {%- else %}
                    <a class="list-group-item" href="{{ url_for('login') }}">
                        {{ _('Login') }}
                    </a>
                    <a class="list-group-item" href="{{ url_for('register') }}">
                        {{ _('Register') }}
                    </a>
                    {%- endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-file"></i>
                    {{ _('Information') }}
                </div>
                <div class="list-group">
                    {%- for page in infopages %}
                    <a href="{{ url_for('info', slug=page.slug) }}" class="list-group-item{% if page.id == active %} active{% endif %}">
                        {{ page.loc_title }}
                    </a>
                    {%- endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-8 col-print-12">
            {%- if current_user.confirm_code %}
            <div class="alert alert-danger hiden-print" role="alert">
                <p>{{ _('Please confirm your email address by clicking on the link you should have received.') }}</p>
                <p><i>
                    {{ _('You have not received the validation email?')}}
                    <a href="{{ url_for('resend_confirmation_email') }}">{{ _('Send it again') }}</a>
                </i></p>
            </div>
            {%- endif %}
            {%- block content %}{%- endblock %}
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-static-bottom">
  <div class="container">
        <p class="navbar-text navbar-right lead">
            <b>{{ _('Follow us...') }}</b>
            {%- if config.FACEBOOK_ACCOUNT %}
            <a href="https://www.facebook.com/{{ config.FACEBOOK_ACCOUNT }}"><i class="fa fa-facebook-square"></i></a>
            {%- endif %}
            {%- if config.TWITTER_ACCOUNT %}
            <a href="https://www.twitter.com/{{ config.TWITTER_ACCOUNT }}"><i class="fa fa-twitter-square"></i></a>
            {%- endif %}
            {%- if config.BLOG_URL %}
            <a href="{{ config.BLOG_URL }}"><i class="fa fa-rss-square"></i></a>
            {%- endif %}
        </p>
  </div>
</div>
{%- endblock %}
