{#
Copyright 2015 Sébastien Maccagnoni-Munch

This file is part of AwesomeShop.

AwesomeShop is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

AwesomeShop is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with AwesomeShop. If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ _('Welcome on %(shop)s!', shop=config.SHOP_NAME) }}</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ _('This is a default homepage from AwesomeShop.') }}</p>
        <p>{{ _('Shop owner, you should create your own templates. Minimum templates are the following:') }}</p>
        <dl>
            <dt><tt>templates/local/home.html</tt>:</dt>
            <dd>{{ _('Content for the homepage') }}</dd>
            <dt><tt>templates/local/logo.html</tt>:</dt>
            <dd>{{ _("The shop's logo (upper left corner)") }}</dd>
            <dt><tt>static/local/local.css</tt>:</dt>
            <dd>{{ _('Stylesheet specific to the shop') }}</dd>
        </dl>
    </div>
</div>
