/***** PAGE ORGANIZATION ******/

/* Center the login and register panels */
#loginpanel {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}
@media (min-height: 350px) {
    #loginpanel {
        margin-top: 50px;
    }
}
@media (min-height: 600px) {
    #loginpanel {
        margin-top: 100px;
    }
}

/***** SMALL PATCHES TO HOW BOOTSTRAP WORKS *****/
.bottom-space {
    margin-bottom: 15px !important;
}
.navbar-static-bottom {
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 0;
}
.panel-heading {
    font-weight: bold;
}
textarea {
    min-width: 100%;
    max-width: 100%;
}
/* Patch to simple-sidebar */
.sidebar-nav li i {
    text-indent: 0;
}
.leftmenu {
    font-size: 90%;
    text-align: left;
}

/***** SMALLER HEADERS *****/
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}

/***** FORCED POINTER CURSOR *****/
.pointer {
    cursor: pointer;
}

/***** TEXT AREAS *****/
textarea.large-textarea, select[multiple] {
    height: 20em;
}

/***** CATEGORIES HIERARCHY *****/
.category_hierarchy_0 {
    padding-left: 0;
    font-weight: bold;
}
.category_hierarchy_1 {
    padding-left: 0px;
}
.category_hierarchy_2 {
    padding-left: 1em;
}
.category_hierarchy_1::before, .category_hierarchy_2::before {
    content: '» ';
}

/***** PRODUCTS IN A CATEGORY PAGE *****/
.product-in-category a:hover, .product-in-category a:active, .cart-list a:hover, .cart-list a:active {
    text-decoration: none;
}

/***** PRODUCT PAGE *****/
p.price {
    font-size: 1.5em;
    text-align: center;
}
button#add-to-cart, a#proceed_again {
    white-space: normal;
}
/***** PLACEHOLDER WHEN THERE IS NO PICTURE *****/
.product-illustration-placeholder {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: #eee;
}
/* Sizes from bootstrap */
@media (min-width: 768px) {
    .product-illustration-placeholder {
        width: 100%;
        font-size: 8em;
    }
}
@media (min-width: 992px) {
    .product-illustration-placeholder {
        font-size: 6em;
    }
}
@media (min-width: 1200px) {
    .product-illustration-placeholder {
        font-size: 10em;
    }
}
.product-illustration-placeholder .panel-body {
    padding: 0;
}
.cart-illustration-placeholder {
    display: inline-block;
    width: 100px;
    height: 70px;
    line-height: 1.1em;
    font-size: 4em;
    text-align: center;
    color: #eee;
    vertical-align: middle;
}
.cart-illustration, .cart-illustration-placeholder {
    margin-right: 16px;
}

/* Small gutter for images thumbnails */
.small-gutter > [class*='col-'] {
    padding-right:1px;
    padding-left:1px;
}
.small-gutter a.thumbnail {
    padding: 2px;
}

/***** OVERLAY *****/
.overlay {
    opacity: 0.8;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1999;
}
.overlay-content {
    opacity: 1;
    position: fixed;
    width: 20em;
    height: 4em;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    margin-top: -2em;
    z-index: 2000;
}
#overlay-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
#overlay-image {
    display: block;
    margin: 2em auto;
    border: 4px solid #fff;
    border-radius: 4px;
    max-width: 90%;
    max-height: 90%;
}

/***** FOLLOW ICONS ON THE BOTTOM BAR *****/
.navbar-static-bottom .fa {
    font-size: 125%;
    margin: 0 0 0 10px;
}

/***** CHECKOUT SPECIFICS *****/
#billing-checkbox {
    margin-top: 0;
}
.total-cost {
    font-size: 21px;
}
#checkout-form label {
    cursor: pointer;
    font-weight: normal;
}
.order-options label:hover {
    background: #f5f5f5;
}
textarea#checkout-message {
    min-height: 3em;
    margin-bottom: 20px;
}
input[type="radio"] {
    margin-right: 1em;
}

/***** FOR PRINTING *****/
@media print {
    .col-print-1 { width:8.33333333% !important;  float:left; }
    .col-print-2 { width:16.66666667% !important; float:left; }
    .col-print-3 { width:25% !important; float:left; }
    .col-print-4 { width:33.33333333% !important; float:left; }
    .col-print-5 { width:41.66666667% !important; float:left; }
    .col-print-6 { width:50% !important; float:left; }
    .col-print-7 { width:58.33333333% !important; float:left; }
    .col-print-8 { width:66.66666667% !important; float:left; }
    .col-print-9 { width:75% !important; float:left; }
    .col-print-10 { width:83.33333333% !important; float:left; }
    .col-print-11 { width:91.66666667% !important; float:left; }
    .col-print-12 { width:100% !important; float:left; }
    .col-print-offset-0 { margin-left: 0; }
}
